<style>
    ._heroWrapper_1b5c0_23 {
        height: 100vh;
        max-height: 755px;
    }
</style>

<div class="_heroWrapper_1b5c0_23">
    <div class="container-grid _contentWrapper_1b5c0_64">
        <div class="_imageContainer_1b5c0_77" data-animation="fade" data-delay="0.8" style="opacity: 1;">
            <video disableremoteplayback="" playsinline="" loop="" autoplay="" class="_video_1b5c0_103 opacity-0-dk" data-object="video" data-mouse-only="true" data-fade-in="true">
                <source src="/videos/usecases/threat_vision.mov" type="video/quicktime; codecs=&quot;hvc1&quot;">
                <source src="/videos/usecases/threat_vision.webm" type="video/webm">
            </video>
        </div><div class="_wrapper_1b5c0_133 dk:col-start-1 dk:col-end-9">
            <div class="_legend_1b5c0_163">
                <span class="_textScrambleAnimation_1mtai_28 _textScrambleLegend_1b5c0_178">
                    <span aria-hidden="true" class="_absoluteText_1mtai_23" style="">UC_007</span>
                    <span class="_realText_1mtai_38">UC_007</span>
                </span>
            </div><h2 class="_textFadeAnimation_bo663_23 _title_1b5c0_201" style="">Threat Intelligence</h2><p class="_textFadeAnimation_bo663_23 _description_1b5c0_213" style="">Building 24/7 security capabilities is costly, with in-house Security Operations Centers (SOCs) requiring heavy investments in technology, infrastructure, and skilled staff. As cyber threats rise and regulations tighten, these capabilities are essential. Partnering with a Managed Security Service Provider (MSSP) ensures strong cybersecurity and business continuity without the financial burden of an in-house SOC.</p><a class="_buttonWrapper_1egcf_23 _primary_1egcf_43 _button_1b5c0_227" data-animation="fade" data-delay="0.6" href="https://neverhack.com/en/contact" style="opacity: 1;">Contact us</a>
        </div>
    </div><div class="_webGlPlaceholder_1b5c0_50 hide-mobile-tablet" data-object="grid" data-config="hero"></div>
</div>