@{
    Layout = "~/Views/Shared/_Layout_Dark.cshtml";

}

<div id="app" data-router-wrapper>


    <div id="about" class="about" data-router-view="about" data-scroll-wrapper data-light>
        <div class="inner">

            <div id="webgl_background_about" class="background"></div>

            <section class="about__hero">
               
                    <div class="container container--small container--center">
                        <div class="title title--xlarge title--white title--init">
                            About Us
                        </div>
                        <div class="scroll" data-mobile></div>
                        <div id="scroll" class="scroll scroll--white" data-desktop>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.19 133.19">
                                <circle cx="66.15" cy="2.13" r="2.13" />
                                <circle cx="86.09" cy="5.15" r="2.13" />
                                <circle cx="104.13" cy="14.18" r="2.13" />
                                <circle cx="118.49" cy="28.34" r="2.13" />
                                <circle cx="127.77" cy="46.25" r="2.13" />
                                <circle cx="131.06" cy="66.15" r="2.13" />
                                <circle cx="128.04" cy="86.09" r="2.13" />
                                <circle cx="119.01" cy="104.13" r="2.13" />
                                <circle cx="104.85" cy="118.49" r="2.13" />
                                <circle cx="86.94" cy="127.77" r="2.13" />
                                <circle cx="67.04" cy="131.06" r="2.13" />
                                <circle cx="47.1" cy="128.04" r="2.13" />
                                <circle cx="29.07" cy="119.01" r="2.13" />
                                <circle cx="14.71" cy="104.85" r="2.13" />
                                <circle cx="5.42" cy="86.94" r="2.13" />
                                <circle cx="2.13" cy="67.04" r="2.13" />
                                <circle cx="5.15" cy="47.1" r="2.13" />
                                <circle cx="14.18" cy="29.07" r="2.13" />
                                <circle cx="28.34" cy="14.71" r="2.13" />
                                <circle cx="46.25" cy="5.42" r="2.13" />
                            </svg>
                            <div class="scroll__arrow center"></div>
                        </div>
                    </div>
                    <div class="container container--xsmall container--center">
                        <div class="title title--small title--white title--init">
                            Our Journey to Global <br /> <strong>Workforce</strong> Solutions <strong>Leadership</strong>.
                        </div>
                        <div class="wysiwyg wysiwyg--large wysiwyg--white title--init">
                            Founded in 2010, Infinite Outsourcing Solutions began with a vision to transform workforce
                            management. Starting as a small staffing firm, we quickly recognized the potential of technology
                            to solve common business challenges. Over 13 years, we’ve grown into a global leader,
                            operating in 20 cities across three countries and serving over 100 clients.
                        </div>
                    </div>
                    <div class="container container--center">
                        <div class="label label--secondary label--0 label--init"></div>
                    </div>
                    <div class="container container--large">
                        <div class="columns columns--0 columns--align-start" data-desktop>

                            <div class="columns__item columns__item--20">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Our Story</div>
                                    </div>
                                    <div class="info" style="display: none; opacity: 0.0001;">
                                        <div class="hoverCard">
                                            <div class="hoverCardContent">Founded in 2010, Infinite Outsourcing Solutions grew from a small staffing firm into a global leader, operating in 20 cities and serving 100+ clients. Entering the US in 2020, we deliver AI-driven solutions, placing 8,000+ candidates and driving success through innovative workforce and automation services.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns__item columns__item--20">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Mission</div>
                                    </div>
                                    <div class="info" style="display: none; opacity: 0.0001;">
                                        <div class="hoverCard">
                                            <div class="hoverCardContent">To be the sole workforce solutions firm our clients need by driving growth, enhancing efficiency, and elevating customer experience with premium service and support.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns__item columns__item--20">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Vision</div>
                                    </div>
                                    <div class="info" style="display: none; opacity: 0.0001;">
                                        <div class="hoverCard">
                                            <div class="hoverCardContent">To redefine workforce solutions by integrating human expertise with artificial intelligence, creating a smarter, faster, and more personalized recruiting experience that empowers businesses and talent.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns__item columns__item--20">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Global Presence</div>
                                    </div>
                                    <div class="info" style="display: none; opacity: 0.0001;">
                                        <div class="hoverCard">
                                            <div class="hoverCardContent">With operations in 20 cities across three countries, we bring a wealth of experience to the US market. Our global network allows us to access diverse talent pools and implement best practices, ensuring US clients benefit from world-class solutions.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider--draggable" data-mobile>
                            <div class="slider__inner">

                                <div class="slider__item">
                                    <div class="card">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">Our Story</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider__item">
                                    <div class="card">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2.jpg" alt="" width="480" height="720" />
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">Mission</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider__item">
                                    <div class="card">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4.jpg" alt="" width="480" height="720" />
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">Vision</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider__item">
                                    <div class="card">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1.jpg" alt="" width="480" height="720" />
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">Global Presence</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container container--small container--center">
                        <div class="label label--secondary label--1 label--init" data-mobile>Our Core Values</div>
                        <div class="words">
                            <div class="words__inner">
                                <div class="title title--xlarge title--center title--white words--init">Innovation</div>
                                <div class="title title--xlarge title--center title--white words--init">Client-Centricity</div>
                                <div class="title title--xlarge title--center title--white words--init">Excellence</div>
                                <div class="title title--xlarge title--center title--white words--init">Collaboration</div>
                                <div class="title title--xlarge title--center title--white words--init">Integrity</div>
                                <div class="title title--xlarge title--center title--white words--init">Adaptability</div>
                            </div>
                            <canvas class="words__gradient" data-desktop></canvas>
                        </div>
                        <div class="label label--secondary label--1 label--init" data-desktop>Our Core Values</div>
                    </div>
               
            </section>

            <section class="about__team">
                <div class="container container--medium container--center">
                    <div class="label label--init">
                        Leadership Team
                    </div>
                    <div class="columns columns--align-start columns--wrap" data-desktop>
                        <div class="columns__item columns__item--15">
                            <div class="team type1">
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                    <defs>
                                    <mask id="mask1">
                                    <path d="M82.5,206.349c70.033,66.18,137.134-2.349,153-71.62C259.277,30.872,184.946,7.218,105.866.914-70.8-13.172,11.361,139.121,82.5,206.349" fill="white" />
                                                    </mask>
                                                </defs>
                                    <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="../Assets/Images/Ragavan_Baladurai.jpg" mask="url(#mask1)"></image>
                                            </svg>
                                </div>
                                <div class="name title--init">Ragavan Baladurai</div>
                                <div class="position title--init">CEO</div>
                            </div>
                        </div>
                        <div class="columns__item columns__item--15">
                            <div class="team type3">
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                    <defs>
                                    <mask id="mask3">
                                    <path d="M11.3,163.4c87.3,158.9,288.4-18.2,218-118.6C171.8-37.2,62.8,11.3,27.1,49C-3.2,81.1-7.6,129.1,11.3,163.4" fill="white" />
                                                    </mask>
                                                </defs>
                                    <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="../Assets/Images/Binu_Vijayvasankar.jpg" mask="url(#mask3)"></image>
                                            </svg>
                                </div>
                                <div class="name title--init">Binu Vijayvasankar</div>
                                <div class="position title--init">CTO</div>
                            </div>
                        </div>
                        <div class="columns__item columns__item--15">
                            <div class="team type4">
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                    <defs>
                                    <mask id="mask4">
                                    <path id="path1" d="M233.8,120.7c-5,7.9-8.4,18.5-9,27.7c-2.5,41.6-33.4,75.8-78,80.1C56.8,237.6-15.8,134,9,71.8 C66.4-71.9,289.5,32.2,233.8,120.7" fill="white" />
                                                    </mask>
                                                </defs>
                                    <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="../Assets/Images/Wallace_Chase.jpg" mask="url(#mask4)"></image>
                                            </svg>
                                </div>
                                <div class="name title--init">Wallace Chase</div>
                                <div class="position title--init">VPO</div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--15">
                            <div class="team type4">
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                    <defs>
                                    <mask id="mask4">
                                    <path id="path1" d="M233.8,120.7c-5,7.9-8.4,18.5-9,27.7c-2.5,41.6-33.4,75.8-78,80.1C56.8,237.6-15.8,134,9,71.8 C66.4-71.9,289.5,32.2,233.8,120.7" fill="white" />
                                                    </mask>
                                                </defs>
                                    <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="../Assets/Images/Simran_Brittany.jpg" mask="url(#mask4)"></image>
                                            </svg>
                                </div>
                                <div class="name title--init">Simran Brittany</div>
                                <div class="position title--init">Strategic Partnerships</div>
                            </div>
                        </div>
                    </div>
                    <div class="slider slider--draggable" data-mobile>
                        <div class="slider__inner">
                            <div class="slider__item">
                                <div class="team">
                                    <div class="image">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                        <defs>
                                        <mask id="mask1">
                                        <path d="M82.5,206.349c70.033,66.18,137.134-2.349,153-71.62C259.277,30.872,184.946,7.218,105.866.914-70.8-13.172,11.361,139.121,82.5,206.349" fill="white" />
                                                        </mask>
                                                    </defs>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/fabiola-perez.png" mask="url(#mask1)"></image>
                                                </svg>
                                    </div>
                                    <div class="name title--init">Ragavan Baladurai</div>
                                    <div class="position title--init">CEO</div>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="team">
                                    <div class="image">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                        <defs>
                                        <mask id="mask3">
                                        <path d="M11.3,163.4c87.3,158.9,288.4-18.2,218-118.6C171.8-37.2,62.8,11.3,27.1,49C-3.2,81.1-7.6,129.1,11.3,163.4" fill="white" />
                                                        </mask>
                                                    </defs>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/alberto-rodriguez.png" mask="url(#mask3)"></image>
                                                </svg>
                                    </div>
                                    <div class="name title--init">Binu Vijayvasankar</div>
                                    <div class="position title--init">CTO</div>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="team">
                                    <div class="image">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                        <defs>
                                        <mask id="mask4">
                                        <path d="M233.8,120.7c-5,7.9-8.4,18.5-9,27.7c-2.5,41.6-33.4,75.8-78,80.1C56.8,237.6-15.8,134,9,71.8 C66.4-71.9,289.5,32.2,233.8,120.7" fill="white" />
                                                        </mask>
                                                    </defs>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/diego-garcia.png" mask="url(#mask4)"></image>
                                                </svg>
                                    </div>
                                    <div class="name title--init">Wallace Chase</div>
                                    <div class="position title--init">VPO</div>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="team">
                                    <div class="image">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244 233" style="enable-background:new 0 0 244 233;" xml:space="preserve">
                                        <defs>
                                        <mask id="mask3">
                                        <path d="M11.3,163.4c87.3,158.9,288.4-18.2,218-118.6C171.8-37.2,62.8,11.3,27.1,49C-3.2,81.1-7.6,129.1,11.3,163.4" fill="white" />
                                                        </mask>
                                                    </defs>
                                        <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/Mercedes.png" mask="url(#mask3)"></image>
                                                </svg>
                                    </div>
                                    <div class="name title--init">Mercedes Tirado</div>
                                    <div class="position title--init">COO</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="about__clients">
                <div class="container">
                    <div class="label label--black label--init">
                        Community Involvement
                    </div>
                    <hr class="hr">
                    <div class="title title--small title--black title--init">
                        Our community involvement initiatives deliver measurable benefits for Sri Lanka’s children:
                    </div>
                    <div class="columns columns--end">
                        <div class="columns__item columns__item--25">
                            <div class="wysiwyg wysiwyg--large text--init">
                                <p>
                                    Infinite Outsourcing Solutions uplifts Sri Lanka’s children amid its economic crisis, supporting 2.3 million kids with education, nutrition, and health initiatives. By providing books, meals, and medicines, we empower brighter futures. US businesses partnering with us align with socially responsible values, enhancing trust while accessing AI-driven staffing, recruiting, and automation solutions that drive success and global impact.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta-section py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cta-container">
                                <h3 class="mb-4">Get in Touch</h3>
                                <p style="margin:40px;font-size:20px;">Ready to explore how Infinite Outsourcing Solutions can transform your business? Contact us today.</p>
                                <button id="testBtn" class="btn">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_FooterSection")

        </div>
        <div class="scrollbar">
            <div class="bar"></div>
        </div>
    </div>
</div>
