@{
    Layout = "~/Views/Shared/_Layout_Dark.cshtml";

}

<style>
    .about__hero{
        padding-top:0;
    }

    .about__team{
        padding-top: 0;
    }

    #globeViz {
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(to top, transparent 0%, black 50%);
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
    }

    .overlay {
        position: absolute;
        z-index: 2;
        top: 50%;
        bottom: 50%;
        left: 35%;
        user-select: none;
    }

    .contact-section{
        background-color: #010a33;
    }

    .cursor-dots{
        background-color: #010a33;
    }
</style>
<div id="app" data-router-wrapper>


    <div id="about" class="about" data-router-view="about" data-scroll-wrapper data-light>
        <div class="inner">

            <div id="webgl_background_about" class="background" style="display:none"></div>

            <section class="about__hero">
                <div class="title title--xlarge title--white title--init overlay">Contact us</div>
                    <div id="globeViz"></div>
                <div class="container container--xsmall container--center" style="display:none">
                    <div class="title title--small title--white title--init">
                        Our Journey to Global <br /> <strong>Workforce</strong> Solutions <strong>Leadership</strong>.
                    </div>
                    <div class="wysiwyg wysiwyg--large wysiwyg--white title--init">
                        Founded in 2010, Infinite Outsourcing Solutions began with a vision to transform workforce
                        management. Starting as a small staffing firm, we quickly recognized the potential of technology
                        to solve common business challenges. Over 13 years, we’ve grown into a global leader,
                        operating in 20 cities across three countries and serving over 100 clients.
                    </div>
                </div>
                <div class="container container--center" style="display:none">
                    <div class="label label--secondary label--0 label--init"></div>
                </div>
                <div class="container container--large" style="display:none">
                    <div class="columns columns--0 columns--align-start" data-desktop>

                        <div class="columns__item columns__item--20">
                            <div class="card">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">Our Story</div>
                                </div>
                                <div class="info" style="display: none; opacity: 0.0001;">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Founded in 2010, Infinite Outsourcing Solutions grew from a small staffing firm into a global leader, operating in 20 cities and serving 100+ clients. Entering the US in 2020, we deliver AI-driven solutions, placing 8,000+ candidates and driving success through innovative workforce and automation services.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">Mission</div>
                                </div>
                                <div class="info" style="display: none; opacity: 0.0001;">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">To be the sole workforce solutions firm our clients need by driving growth, enhancing efficiency, and elevating customer experience with premium service and support.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">Vision</div>
                                </div>
                                <div class="info" style="display: none; opacity: 0.0001;">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">To redefine workforce solutions by integrating human expertise with artificial intelligence, creating a smarter, faster, and more personalized recruiting experience that empowers businesses and talent.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">Global Presence</div>
                                </div>
                                <div class="info" style="display: none; opacity: 0.0001;">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">With operations in 20 cities across three countries, we bring a wealth of experience to the US market. Our global network allows us to access diverse talent pools and implement best practices, ensuring US clients benefit from world-class solutions.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider slider--draggable" data-mobile>
                        <div class="slider__inner">

                            <div class="slider__item">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Our Story</div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider__item">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-2.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Mission</div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider__item">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-4.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Vision</div>
                                    </div>
                                </div>
                            </div>

                            <div class="slider__item">
                                <div class="card">
                                    <div class="image" style="--ratio: 150%">
                                        <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-1.jpg" alt="" width="480" height="720" />
                                        <div class="image__gradient"></div>
                                    </div>
                                    <div class="text">
                                        <div class="title title--xsmall title--white title--init">Global Presence</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container container--small container--center" style="display:none">
                    <div class="label label--secondary label--1 label--init" data-mobile>Our Core Values</div>
                    <div class="words">
                        <div class="words__inner">
                            <div class="title title--xlarge title--center title--white words--init">Innovation</div>
                            <div class="title title--xlarge title--center title--white words--init">Client-Centricity</div>
                            <div class="title title--xlarge title--center title--white words--init">Excellence</div>
                            <div class="title title--xlarge title--center title--white words--init">Collaboration</div>
                            <div class="title title--xlarge title--center title--white words--init">Integrity</div>
                            <div class="title title--xlarge title--center title--white words--init">Adaptability</div>
                        </div>
                        <canvas class="words__gradient" data-desktop></canvas>
                    </div>
                    <div class="label label--secondary label--1 label--init" data-desktop>Our Core Values</div>
                </div>

            </section>

            <section class="about__team screen-section">
                <div class="container container--medium container--center" style="width:100%">
                    <div class="contact-section section-header">
                        <div class="contact-box empty-box"></div>
                        <div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" style="width:20%">

                            <button onclick="GoToURL('/Home/ContactUs')" id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac="">
                                <div class="_webGLEffect_zipky_54">
                                    <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true">
                                    <span class="_textScrambleAnimation_1mtai_28">
                                        <span aria-hidden="true" class="_absoluteText_1mtai_23">Asia </span>
                                        <span class="_realText_1mtai_38">Asia</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" style="width:20%">

                            <button onclick="GoToURL('/Home/ContactUs')" id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac="">
                                <div class="_webGLEffect_zipky_54">
                                    <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true">
                                    <span class="_textScrambleAnimation_1mtai_28">
                                        <span aria-hidden="true" class="_absoluteText_1mtai_23">America </span>
                                        <span class="_realText_1mtai_38">America</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" style="width:20%">

                            <button onclick="GoToURL('/Home/ContactUs')" id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac="">
                                <div class="_webGLEffect_zipky_54">
                                    <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true">
                                    <span class="_textScrambleAnimation_1mtai_28">
                                        <span aria-hidden="true" class="_absoluteText_1mtai_23">Europe </span>
                                        <span class="_realText_1mtai_38">Europe</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" style="width:20%">

                            <button onclick="GoToURL('/Home/ContactUs')" id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac="">
                                <div class="_webGLEffect_zipky_54">
                                    <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true">
                                    <span class="_textScrambleAnimation_1mtai_28">
                                        <span aria-hidden="true" class="_absoluteText_1mtai_23">Contact Us </span>
                                        <span class="_realText_1mtai_38">Contact Us</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="contact-box empty-box"></div>
                    </div>

                    <div class="_contactOfficesWrapper_hu8ka_23">
                        <div class="dk:container-grid">
                            <div class="_contactOfficesContent_hu8ka_58 dk:col-start-2 dk:col-end-12">
                                <div class="_embla_hu8ka_308">
                                    <div data-anchor="Asia" class="_regionContainer_hu8ka_28">
                                        <h2 class="_textFadeAnimation_bo663_23" style="">Asia</h2>
                                        <div class="_officesContainer_hu8ka_63 office-container">
                                            <div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>United Arab Emirates</h3><div class="_locationsContainer_hu8ka_129"><span>Abu Dhabi</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:uae@neverhack.com" class="_text_hu8ka_135">uae@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="uae@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div>
                                            <div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>Singapore</h3><div class="_locationsContainer_hu8ka_129"><span>Singapore</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:singapore@neverhack.com" class="_text_hu8ka_135">singapore@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="singapore@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div>
                                        </div>
                                    </div>
                                    <div class="_navigationBar_rzc5j_23 _navigationBar_hu8ka_321">
                                        <ul class="_dotsWrapper_rzc5j_30">
                                            <li class="_active_rzc5j_43"></li>
                                            <li class=""></li>
                                        </ul>
                                        <div class="_arrowWrapper_rzc5j_47"><button type="button" aria-label="Previous slide" class="_disabled_rzc5j_71"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button><button type="button" aria-label="Next slide" class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button></div>
                                    </div>
                                </div>
                                <div class="_embla_hu8ka_308">
                                    <div data-anchor="America" class="_regionContainer_hu8ka_28">
                                        <h2 class="_textFadeAnimation_bo663_23" style="">America</h2>
                                        <div class="_officesContainer_hu8ka_63 office-container"><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>Mexico</h3><div class="_locationsContainer_hu8ka_129"><span>Mexico</span><span class="_comma_hu8ka_304">,</span><span>Metepec</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:mexico@neverhack.com" class="_text_hu8ka_135">mexico@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="mexico@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div>
                                            <div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>United States of America</h3><div class="_locationsContainer_hu8ka_129"><span>New York</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:usa@neverhack.com" class="_text_hu8ka_135">usa@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="usa@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div><div class="_officeItem_hu8ka_74 cursor-dots _officeItemEmpty_hu8ka_126 _noBorderTop_hu8ka_101" data-object="grid" data-config="officeEmpty" data-border-radius="0"></div><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots _noBorderTop_hu8ka_101" data-object="grid" data-config="office" data-border-radius="0"><h3>Canada</h3><div class="_locationsContainer_hu8ka_129"><span>Montreal</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:canada@neverhack.com" class="_text_hu8ka_135">canada@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="canada@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div>
                                        </div>
                                    </div><div class="_navigationBar_rzc5j_23 _navigationBar_hu8ka_321"><ul class="_dotsWrapper_rzc5j_30"><li class="_active_rzc5j_43"></li><li class=""></li><li class=""></li><li class=""></li></ul><div class="_arrowWrapper_rzc5j_47"><button type="button" aria-label="Previous slide" class="_disabled_rzc5j_71"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button><button type="button" aria-label="Next slide" class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button></div></div>
                                </div>
                                <div class="_embla_hu8ka_308">
                                    <div data-anchor="Europe" class="_regionContainer_hu8ka_28">
                                        <h2 class="_textFadeAnimation_bo663_23" style="">Europe</h2>
                                        <div class="_officesContainer_hu8ka_63 office-container">
                                            <div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>Belgium</h3><div class="_locationsContainer_hu8ka_129"><span>Brussels</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:belgium@neverhack.com" class="_text_hu8ka_135">belgium@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="belgium@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots" data-object="grid" data-config="office" data-border-radius="0"><h3>Spain</h3><div class="_locationsContainer_hu8ka_129"><span>Barcelona</span><span class="_comma_hu8ka_304">,</span><span>Madrid</span></div><div class="_infoContainer_hu8ka_174"><div class="_leftInfos_hu8ka_181"><div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:spain@neverhack.com" class="_text_hu8ka_135">spain@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="spain@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div></div></div></div><div class="_officeItem_hu8ka_74 cursor-dots _officeItemEmpty_hu8ka_126 _noBorderTop_hu8ka_101" data-object="grid" data-config="officeEmpty" data-border-radius="0"></div><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots _noBorderTop_hu8ka_101" data-object="grid" data-config="office" data-border-radius="0">
                                                <h3>Italy</h3><div class="_locationsContainer_hu8ka_129"><span>Cagliari</span><span class="_comma_hu8ka_304">,</span><span>Milan</span><span class="_comma_hu8ka_304">,</span><span>Naples</span><span class="_comma_hu8ka_304">,</span><span>Potenza</span><span class="_comma_hu8ka_304">,</span><span>Rome</span><span class="_comma_hu8ka_304">,</span><span>Turin</span></div><div class="_infoContainer_hu8ka_174">
                                                    <div class="_leftInfos_hu8ka_181">
                                                        <div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202">
                                                            <div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218">
                                                                <a href="mailto:italy@neverhack.com" class="_text_hu8ka_135">italy@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="italy@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots _noBorderTop_hu8ka_101" data-object="grid" data-config="office" data-border-radius="0">
                                                <h3>Estonia</h3><div class="_locationsContainer_hu8ka_129"><span>Tallinn</span></div><div class="_infoContainer_hu8ka_174">
                                                    <div class="_leftInfos_hu8ka_181">
                                                        <div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202">
                                                            <div class="_infoTitle_hu8ka_132">Email</div>
                                                            <div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:info.ee@neverhack.com" class="_text_hu8ka_135">info.ee@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="info.ee@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div data-mouse-only="true" class="_officeItem_hu8ka_74 cursor-dots _noBorderTop_hu8ka_101" data-object="grid" data-config="office" data-border-radius="0">
                                                <h3>France</h3><div class="_locationsContainer_hu8ka_129">
                                                    <span>Aix-en-Provence</span><span class="_comma_hu8ka_304">,</span><span>Grenoble</span><span class="_comma_hu8ka_304">,</span><span>Le Kremlin-Bicêtre</span><span class="_comma_hu8ka_304">,</span><span>Lille</span><span class="_comma_hu8ka_304">,</span><span>Lyon</span><span class="_comma_hu8ka_304">,</span><span>Paris</span><span class="_comma_hu8ka_304">,</span><span>Rennes</span><span class="_comma_hu8ka_304">,</span><span>Toulon</span>
                                                    <span class="_comma_hu8ka_304">,</span><span>Toulouse</span>
                                                </div>
                                                <div class="_infoContainer_hu8ka_174">
                                                    <div class="_leftInfos_hu8ka_181">
                                                        <div class="_infoWrapper_hu8ka_186 _infoEmail_hu8ka_202"><div class="_infoTitle_hu8ka_132">Email</div><div class="_bottomInfoWrapper_hu8ka_218"><a href="mailto:france@neverhack.com" class="_text_hu8ka_135">france@neverhack.com</a><button class="_copyWrapper_hu8ka_138" data-copy="france@neverhack.com"><span class="_copyText_hu8ka_229">Copy</span><span class="_copiedText_hu8ka_230">Copied</span></button></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_navigationBar_rzc5j_23 _navigationBar_hu8ka_321">
                                        <ul class="_dotsWrapper_rzc5j_30">
                                            <li class="_active_rzc5j_43"></li>
                                            <li class=""></li>
                                            <li class=""></li>
                                            <li class=""></li>
                                            <li class=""></li>
                                            <li class=""></li>
                                        </ul>
                                        <div class="_arrowWrapper_rzc5j_47">
                                            <button type="button" aria-label="Previous slide" class="_disabled_rzc5j_71"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button><button type="button" aria-label="Next slide" class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path stroke="currentColor" stroke-linecap="square" d="m8 6 4 4-4 4"></path></svg></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>


            <div style="background:white;position:relative;top:-1px;">
                <section class="cta-section py-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="cta-container">
                                    <h3 class="mb-4">Get in Touch</h3>
                                    <p style="margin:40px;font-size:20px;">Ready to explore how Infinite Outsourcing Solutions can transform your business? Contact us today.</p>
                                    <button id="testBtn" class="btn">Contact Us</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            @Html.Partial("_FooterSection")

        </div>
        <div class="scrollbar">
            <div class="bar"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/three@0.150.1/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/globe.gl"></script>
<script src="https://cdn.jsdelivr.net/npm/topojson@3"></script>
<script>
    const globe = Globe()(document.getElementById('globeViz'))
      .globeImageUrl(null)
      .backgroundColor('#000')
      .showAtmosphere(true)
      .atmosphereColor('purple')
      .atmosphereAltitude(0.35)
      .hexPolygonResolution(3)
      .hexPolygonMargin(0.4)
      .hexPolygonUseDots(true)
      .hexPolygonColor(() => 'rgb(130,60,220)')
      .hexPolygonsTransitionDuration(0)
      .customThreeObject((d) => {
        if (!d.isBranch) return null;

        const group = new THREE.Group();

        const geometry = new THREE.SphereGeometry(0.9, 8, 8);
        const material = new THREE.MeshBasicMaterial({
          color: 0xffffff,
          transparent: true,
          opacity: 0.7
        });

        const glow = new THREE.Mesh(geometry, material);
        group.add(glow);

        return group;
      })
      .customThreeObjectUpdate((obj, d) => {
        if (!d.isBranch) return;
        const { lat, lng } = d;
        const phi = (90 - lat) * (Math.PI / 180);
        const theta = (180 - lng) * (Math.PI / 180);
        const radius = globe.getGlobeRadius ? globe.getGlobeRadius() : 100;

        obj.position.x = radius * Math.sin(phi) * Math.cos(theta);
        obj.position.y = radius * Math.cos(phi);
        obj.position.z = radius * Math.sin(phi) * Math.sin(theta);
      });

    globe.controls().autoRotate = true;
    globe.controls().autoRotateSpeed = 0.25;
    globe.controls().enableZoom = false;
    globe.controls().enablePan = false;
    globe.camera().position.set(150, 100, 150);

    // Load real map
    fetch('https://unpkg.com/globe.gl/example/datasets/ne_110m_admin_0_countries.geojson')
      .then(res => res.json())
      .then(countries => {
        globe.hexPolygonsData(countries.features);

        // Add glow points after polygons are loaded
        const branchLocations = [
          { lat: 43.68738, lng: -79.60803, isBranch: true },
          { lat: 45.49639, lng: -73.70202, isBranch: true },
          { lat: 49.20017, lng: -122.91169, isBranch: true },
          { lat: 29.73521, lng: -95.46272, isBranch: true },
          { lat: 29.73514, lng: -95.46270, isBranch: true },
          { lat: 52.66086, lng: -8.62630, isBranch: true },
        ];

        globe.objectsData(branchLocations);
      });

</script>