<div class="container">
    <main role="main" class="pb-3">
        <div id="app" data-router-wrapper>
            <div id="home" class="home" data-router-view="home" data-scroll-wrapper>
                <div class="inner">
                    <div id="webgl_home1" class="background"></div>
                    <section class="home__hero hero">
                        <div class="container container--medium">
                            <h2 class="title title--small title--center" data-desktop>
                                Transform your business with
                            </h2>
                            <h1 class="title title--xlarge title--center" data-desktop>
                                Infinite Outsourcing Solutions
                            </h1>
                            <h2 class="title title--small title--center title--init" data-mobile>
                                Transform your business with
                            </h2>
                            <h1 class="title title--xlarge title--center title--init" data-mobile>
                                Infinite Outsourcing Solutions
                            </h1>
                            <div class="image" data-mobile>
                                <div id="webgl_home1_m" class="background"></div>
                                <a href="/" class="circle center" id="button--circle">
                                    <span class="center">
                                        <p>
                                            AI
                                        </p>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="hero__video" data-desktop>
                            <div class="container container--full">
                                <div class="video">
                                    <div class="video__player">
                                        <video preload="none" autoplay loop muted="true" playsinline>
                                            <source src="~/video/video-background-mioti-consulting-opt.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                    <div class="video__overlay"></div>
                                    <div class="columns">
                                        <div class="columns__item">
                                            <div class="megatitle megatitle--white">
                                                Partner for talent.
                                            </div>
                                        </div>
                                        <div class="columns__item">
                                            <div class="title title--small title--white">
                                                Infinite Outsourcing Solutions provides AI-powered staffing, recruiting, consulting, and warehouse automation services tailored to your needs.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home__data">
                        <div class="container">
                            <div class="label label--init">
                                Company Overview<br />
                                <span style="font-size:14px;">A global leader in workforce solutions</span>
                            </div>
                            <svg id="capa_1" data-name="Capa 1" viewBox="0 0 1535 289" data-desktop>
                                <polyline id="tramo3" class="dataline" points="0 0.5 528 0.5 528 144.5" />
                                <polyline id="tramo2" class="dataline" points="528 144.5 1056 144.5 1056 288.5" />
                                <line id="tramo1" class="dataline" x1="1056" y1="288.5" x2="1535" y2="288.5" />
                            </svg>
                            <div class="columns columns--1 columns--align-start" data-desktop>
                                <div class="columns__item columns__item--0">
                                    <div class="background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-12.png)"></div>
                                    </div>
                                    <div class="wysiwyg wysiwyg--small">
                                        <p>
                                            We bring over 13 years of experience to the US market. With operations in 20 cities across three countries, we’ve placed over 8,000 candidates and served more than 100 satisfied clients. Our mission is to be the only workforce solutions provider you need, driving growth, enhancing efficiency, and delivering exceptional service.
                                        </p>

                                    </div>

                                </div>
                                <div class="columns__item columns__item--1">
                                    <div class="background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-9.png)"></div>
                                    </div>
                                    <div class="wysiwyg wysiwyg--small">
                                        <p>
                                            Our unique blend of human expertise and artificial intelligence sets us apart. By leveraging our proprietary Vorkz.ai platform, we match talent to roles with unmatched speed and precision, reducing hiring time by up to 70%. Whether you’re a small business seeking temporary staff or a large corporation needing advanced warehouse automation, we provide scalable solutions that align with your goals
                                        </p>
                                    </div>

                                </div>
                                <div class="columns__item columns__item--2">
                                    <div class="background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-19.png)"></div>
                                    </div>
                                    <div class="wysiwyg wysiwyg--small">
                                        <p>
                                            In the US, businesses face challenges like rising labor costs, talent shortages, and operational
                                            inefficiencies. We address these pain points by offering flexible staffing, expert consulting, and
                                            cutting-edge automation technologies. Our recent expansion into the US market builds on our
                                            global success, including strategic acquisitions like EMC Global Consulting and partnerships with innovators like RAPYUTA ROBOTICS.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="container" data-mobile>
                            <div class="slider slider--draggable">
                                <div class="slider__inner">
                                    <div class="slider__item slider__item--0">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-12.png)"></div>
                                        </div>
                                        <div class="wysiwyg wysiwyg--small">
                                            <p>Las empresas mas valoradas del mundo son Data Driven Companies, su principal activo es el dato.</p>
                                        </div>

                                    </div>
                                    <div class="slider__item slider__item--1">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-9.png)"></div>
                                        </div>
                                        <div class="wysiwyg wysiwyg--small">
                                            <p>Las data driven companies incrementan sus beneficios 5% por mejoras operacionales basadas en análisis de datos.</p>
                                        </div>

                                    </div>
                                    <div class="slider__item slider__item--2">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-19.png)"></div>
                                        </div>
                                        <div class="wysiwyg wysiwyg--small">
                                            <p>Las data driven companies consiguen ganar hasta un 40% más y aumentar su adquisición de clientes un 35% mas que la media del mercado.</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider__progress"><div class="bar"></div></div>
                            </div>
                        </div>
                    </section>

                    <section class="home__services services">

                        <div class="services__item services__item--0" data-desktop>

                            <a class="title title--xlarge title--secondary titlelarge--init">
                                Why <br />
                                Choose Us
                            </a>
                            <div class="columns columns--start">

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Speed to Hire

                                        </span>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Scalability
                                        </span>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Innovation
                                        </span>
                                    </div>
                                </div>
                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Global Expertise
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services__item services__item--0 services__item--mobile" data-mobile>
                            <div class="container">
                                <div class="label label--white label--init">
                                    Nuestros<br />
                                    servicios de
                                </div>
                                <div class="image">
                                    <div id="webgl_home2a_m" class="background"></div>
                                </div>
                                <div class="info">
                                    <a href="#" class="title title--xlarge title--secondary titlelarge--init">
                                        Why<br />
                                        Choose Us
                                    </a>
                                    <div class="columns columns--start">

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Benefits<br />
                                                    of Outsourcing
                                                </span>
                                            </div>
                                        </div>

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Auditoría<br />
                                                    del dato
                                                </span>
                                            </div>
                                        </div>

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Visión 360º<br />
                                                    de la compañía
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon icon--plus"></div>
                            </div>
                        </div>

                        <div class="services__item services__item--1" data-desktop>

                            <a href="#" class="title title--xlarge title--secondary titlelarge--init">
                                Benefits<br />
                                of Outsourcing
                            </a>
                            <div class="columns columns--start">

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Reduce Costs
                                        </span>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Access Expertise
                                        </span>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Enhance Flexibility
                                        </span>
                                    </div>
                                </div>
                                <div class="columns__item columns__item--">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                        <hr class="hr hr--small hr--init">
                                        <span class="title--init font-14">
                                            Focus on Core Goals
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="services__item services__item--1 services__item--mobile" data-mobile>
                            <div class="container">
                                <div class="label label--white label--init">
                                    Nuestros<br />
                                    servicios de
                                </div>
                                <div class="image">
                                    <div id="webgl_home2b_m" class="background"></div>
                                </div>
                                <div class="info">
                                    <a href="#" class="title title--xlarge title--secondary titlelarge--init">
                                        Benefits of<br />
                                        Outsourcing
                                    </a>
                                    <div class="columns columns--start">

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Detectar ineficiencias para ser más competitivo
                                                </span>
                                            </div>
                                        </div>

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Identificar areas de mejora en el negocio
                                                </span>
                                            </div>
                                        </div>

                                        <div class="columns__item">
                                            <div class="wysiwyg wysiwyg--large wysiwyg--white">
                                                <hr class="hr hr--small">
                                                <span>
                                                    Descubrir nuevas oportunidades de crecimiento
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon icon--plus"></div>
                            </div>
                        </div>
                        <div id="webgl_home2" class="background"></div>
                    </section>

                    <section class="home__solutions">
                        <div class="container">
                            <div class="label label--black label--init">
                                Industries <br />
                                We Specialize In
                            </div>
                            <hr class="hr hr--init">
                            <div class="title title--small title--init">
                                We empower businesses across <strong>diverse sectors</strong>, including:
                                @* Sea cual sea tu empresa y tu sector, <strong>podemos hacerlo.</strong> *@
                            </div>
                            <div class="columns columns--0 columns--end">
                                <div class="columns__item columns__item--25">
                                    <div class="wysiwyg wysiwyg--large text--init">
                                        <p>The US outsourcing market is evolving rapidly. According to a Deloitte survey, cost reduction remains a top driver, with 70% of businesses outsourcing to save money. Meanwhile, technologies like AI are transforming the industry, enabling faster hiring and smarter operations. At Infinite Outsourcing Solutions, we stay ahead of these trends, offering innovative solutions that keep you competitive.</p>
                                        @*  <p>Contamos con un equipo de expertos en datos y plataformas propietarias SaaS que te ayudarán a definir la mejor estrategia de datos para tu compañía y desarrollar proyectos de ciencia de datos e internet de las cosas con éxito.</p> *@
                                    </div>
                                </div>
                            </div>
                            <div class="features columns columns--1 columns--align-start" data-desktop>

                                <div class="features__item columns__item features__item--0 background" onclick="GoToURL('/Industries/AccountingAndFinance')">
                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/home_solutions01.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Accounting & Finance</div>
                                </div>

                                <div class="features__item columns__item features__item--1 background" onclick="GoToURL('/Industries/Pharmaceuticals')">
                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions02.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Pharmaceuticals</div>
                                </div>

                                <div class="features__item columns__item features__item--2 background" onclick="GoToURL('/Industries/CallCenterAndCustomerService')">
                                    <div class="background__bg" style="background-image: url(../Assets/Images/Call-center.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Call Center & Customer Service</div>
                                </div>

                                <div class="features__item columns__item features__item--3 background" onclick="GoToURL('/Industries/SupplyChain')">
                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions04.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Supply Chain</div>
                                </div>

                                <div class="features__item columns__item features__item--4 background" onclick="GoToURL('/Industries/SkilledTrades')">
                                    <div class="background__bg" style="background-image: url(../Assets/Images/Skilled.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Skilled Trades</div>
                                </div>

                                <div class="features__item columns__item features__item--5 background" onclick="GoToURL('/Industries/Manufacturing')">
                                    <div class="background__bg" style="background-image: url(../Assets/Images/manufacturing.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Manufacturing</div>
                                </div>

                                <div class="features__item columns__item features__item--6 background" onclick="GoToURL('/Industries/OfficeAndClericalAdministration')">
                                    <div class="background__bg" style="background-image: url(../Assets/Images/Office_ClericalAdministration.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Office & Clerical Administration</div>
                                </div>

                                <div class="features__item columns__item features__item--7 background" onclick="GoToURL('/Industries/Warehousing')">
                                    <div class="background__bg" style="background-image: url(../Assets/Images/WearHousing.jpg)"></div>
                                    <div class="background__overlay3"></div>
                                    <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Warehousing</div>
                                </div>
                            </div>
                            <div class="slider slider--draggable" data-mobile>
                                <div class="slider__inner">

                                    <div class="slider__item slider__item--0 background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/home_solutions01.jpg"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Accounting & Finance</div>
                                    </div>

                                    <div class="slider__item slider__item--1 background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions02.jpg"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Pharmaceuticals</div>
                                    </div>

                                    <div class="slider__item slider__item--2 background">
                                        <div class="background__bg" style="background-image: url(../Assets/Images/Call-center.jpg)"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Call Center & Customer Service</div>
                                    </div>

                                    <div class="slider__item slider__item--3 background">
                                        <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions04.jpg"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Supply Chain</div>
                                    </div>

                                    <div class="slider__item slider__item--4 background">
                                        <div class="background__bg" style="background-image: url(../Assets/Images/Skilled.jpg)"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Skilled Trades</div>
                                    </div>

                                    <div class="slider__item slider__item--5 background">
                                        <div class="background__bg" style="background-image: url(../Assets/Images/manufacturing.jpg)"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Manufacturing</div>
                                    </div>

                                    <div class="slider__item slider__item--6 background">
                                        <div class="background__bg" style="background-image: url(../Assets/Images/Office_ClericalAdministration.jpg)"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Office & Clerical Administration</div>
                                    </div>

                                    <div class="slider__item slider__item--7 background">
                                        <div class="background__bg" style="background-image: url(../Assets/Images/WearHousing.jpg)"></div>
                                        <div class="background__overlay3"></div>
                                        <div class="center wysiwyg wysiwyg--large wysiwyg--white title--init">Warehousing</div>
                                    </div>
                                </div>
                                <div class="slider__progress"><div class="bar"></div></div>
                            </div>
                        </div>
                        <div class="container container--full">
                            <div class="slider slider--solutions">
                                <div id="webgl_home3" class="background" data-desktop></div>
                                <div class="slider__inner">

                                    <div class="slider__item center" data-color="232,67,113">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions01.jpg"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Accounting & Finance</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Accounting & Finance</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="0,126,255">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/10/home_solutions02.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Pharmaceuticals</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Pharmaceuticals</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="232,67,113">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(../Assets/Images/Call-center.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Call Center & Customer Service</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Call Center & Customer Service</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="0,126,255">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/home_solutions04.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Supply Chain</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Supply Chain</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="232,67,113">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(../Assets/Images/Skilled.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Skilled Trades</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Skilled Trades</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="0,126,255">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(../Assets/Images/manufacturing.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Manufacturing</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Manufacturing</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="232,67,113">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(../Assets/Images/Office_ClericalAdministration.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Office & Clerical Administration</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Office & Clerical Administration</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>

                                    <div class="slider__item center" data-color="0,126,255">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(../Assets/Images/WearHousing.jpg)"></div>
                                            <div class="background__overlay"></div>
                                        </div>
                                        <div class="title title--medium title--white center" data-desktop>Warehousing</div>
                                        <a href="/ai-strategy/" class="link link--white" data-desktop>Learn More..<span class="underline"></span></a>
                                        <div class="center" data-mobile>
                                            <div class="title title--medium title--white">Warehousing</div>
                                            <a href="/ai-strategy/" class="link link--white">Learn More..<span class="underline"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider__navigation slider__navigation--prev">
                                    <div class="background" data-desktop>
                                        <div class="background__bg" style="background-image: url(../Assets/Images/WearHousing.jpg)"></div>
                                        <div class="background__overlay"></div>
                                    </div>
                                    <div class="circle center"></div>
                                </div>
                                <div class="slider__navigation slider__navigation--next">
                                    <div class="background" data-desktop>
                                        <div class="background__bg" style="background-image: url(../Assets/Images/Office_ClericalAdministration.jpg)"></div>
                                        <div class="background__overlay"></div>
                                    </div>
                                    <div class="circle center"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home__technology">
                        <div class="container">
                            <a class="title title--large title--secondary titlelarge--init" style="font-size:1.6vw;">
                                <b>Our Services</b>
                            </a>

                            <div class="title title--small title--white title--init">
                                <h5>We offer a comprehensive suite of outsourcing services designed for US businesses:</h5>
                            </div>
                            <div class="columns columns--0 columns--end">
                                <div class="columns__item columns__item--25">
                                    <div class="wysiwyg wysiwyg--large wysiwyg--white text--init" style="transform: translate(0px, 0%); opacity: 1;">
                                        <p style="font-size:20px;">
                                            Each service leverages Vorkz.ai to deliver faster, smarter results. For instance, our warehouse
                                            automation solutions have helped US supply chain companies reduce order fulfillment errors by
                                            25%.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container container--large" data-desktop="">
                            <div class="columns columns--1 columns--align-start">

                                <div class="columns__item columns__item--20" onclick="GoToURL('/Services/Staffing')">
                                    <div class="card" style="transform: translate(0px, 2.5vw); pointer-events: none;">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-scientists.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-scientists.jpg" alt="" width="480" height="720">
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">
                                                <p>Staffing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--20" onclick="GoToURL('/Services/Recruiting')">
                                    <div class="card" style="transform: translate(0px, 0vw); pointer-events: none;">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" alt="" width="480" height="720">
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">
                                                <p>Recruiting</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--20" onclick="GoToURL('/Services/Consulting')">
                                    <div class="card" style="transform: translate(0px, 2.5vw);">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" alt="" width="480" height="720">
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">
                                                <p>Consulting</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns__item columns__item--20" onclick="GoToURL('/Services/WarehouseAutomation')">
                                    <div class="card" style="transform: translate(0px, 0vw);">
                                        <div class="image" style="--ratio: 150%">
                                            <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" alt="" width="480" height="720">
                                            <div class="image__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <div class="title title--xsmall title--white title--init">
                                                <p>Warehouse Automation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container container--small">
                            <div class="words">
                                <div class="words__inner">
                                    <h1 style="color: #dc95ff;font-size: 50px;font-weight: 500;text-align: center;">
                                        The Right Candidates For Your Workplace
                                    </h1>
                                    <p style="color: white;font-size: 19px;text-align: center;padding: 25px;line-height: 1.5;">Finding candidates who fit workplace culture and bring expertise is tough. We understand that. It’s why we pride ourselves on placing the right people – not just the right resumes.</p>
                                    <div style="text-align:center;">
                                        <button id="testBtn" class="btn">Contact Us</button>
                                    </div>
                                </div>
                                <div class="words__gradient" data-desktop=""></div>
                            </div>
                        </div>
                    </section>

                    <section class="home__platforms">
                        <div class="container">
                            <div class="title title--small title--black" style="text-wrap:auto;">
                                <strong>Our Approach. </strong>
                                <span style="font-size:21px;text-wrap:auto;">
                                    We take a collaborative, transparent approach to deliver results. This approach has helped US clients across industries overcome obstacles like talent shortages
                                    and inefficient workflows.
                                </span>
                            </div>


                            <div class="slider draggable--init">
                                <div class="slider__inner">
                                    <div class="slider__item">
                                        <div class="image" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/themes/mioticonsulting/img/dashed.svg);">
                                            <img class="lazyload center imgSize" src="../Assets/Images/Needs.png" data-sizes="auto" data-src="../Assets/Images/Needs.png" alt="" style="width:215px;" />
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="image" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/themes/mioticonsulting/img/dashed.svg);">
                                            <img class="lazyload center imgSize" src="../Assets/Images/SEAMLESS.png" data-sizes="auto" data-src="../Assets/Images/SEAMLESS.png" alt="" style="width:205px;" />
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="image" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/themes/mioticonsulting/img/dashed.svg);">
                                            <img class="lazyload center imgSize" src="../Assets/Images/ONGOING.png" data-sizes="auto" data-src="../Assets/Images/ONGOING.png" alt="" style="width:215px;" />
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="image" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/themes/mioticonsulting/img/dashed.svg);">
                                            <img class="lazyload center imgSize" src="../Assets/Images/AI-POWERED.png" data-sizes="auto" data-src="../Assets/Images/AI-POWERED.png" alt="" style="width:215px;" />
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="image" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/themes/mioticonsulting/img/dashed.svg);">
                                            <img class="lazyload center imgSize " src="../Assets/Images/Customized.png" data-sizes="auto" data-src="../Assets/Images/Customized.png" alt="" style="width:215px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="home__clients">
                        <div class="container">
                            <div class="label label--black label--init">
                                Industry <br />
                                Insights
                            </div>
                            <hr class="hr hr--init">
                            <div class="title title--small title--black title--init">
                                The US outsourcing market is <strong>evolving rapidly.</strong>
                            </div>
                            <div class="columns columns--end">
                                <div class="columns__item columns__item--25">
                                    <div class="wysiwyg wysiwyg--large text--init">
                                        <p>
                                            According to a Deloitte survey, cost reduction
                                            remains a top driver, with 70% of businesses outsourcing to save money. Meanwhile,
                                            technologies like AI are transforming the industry, enabling faster hiring and smarter operations.
                                            At Infinite Outsourcing Solutions, we stay ahead of these trends, offering innovative solutions
                                            that keep you competitive.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container container--full">
                            <div class="carousel">
                                <div class="carousel__inner carousel__inner--0">
                                    <div class="carousel__item carousel__item--0">
                                        <img class="lazyload" src="../Assets/Images/Sanofi_logo_horizontal-1.png" data-sizes="auto" data-src="../Assets/Images/Sanofi_logo_horizontal-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/honda-logo-png-44818-1.png" data-sizes="auto" data-src="../Assets/Images/honda-logo-png-44818-1.png" alt="" width="50" height="50" />
                                        <img class="lazyload" src="../Assets/Images/Zara.png" data-sizes="auto" data-src="../Assets/Images/Zara.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/GoBolt.png" data-sizes="auto" data-src="../Assets/Images/GoBolt.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/CJ_Logistics_logo-1.png" data-sizes="auto" data-src="../Assets/Images/CJ_Logistics_logo-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/lg-logo-14410-1.png" data-sizes="auto" data-src="../Assets/Images/lg-logo-14410-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" data-sizes="auto" data-src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" alt="" width="200" height="60" />

                                    </div>
                                    <div class="carousel__item carousel__item--1">
                                        <img class="lazyload" src="../Assets/Images/Sanofi_logo_horizontal-1.png" data-sizes="auto" data-src="../Assets/Images/Sanofi_logo_horizontal-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/honda-logo-png-44818-1.png" data-sizes="auto" data-src="../Assets/Images/honda-logo-png-44818-1.png" alt="" width="50" height="50" />
                                        <img class="lazyload" src="../Assets/Images/Zara.png" data-sizes="auto" data-src="../Assets/Images/Zara.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/GoBolt.png" data-sizes="auto" data-src="../Assets/Images/GoBolt.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/CJ_Logistics_logo-1.png" data-sizes="auto" data-src="../Assets/Images/CJ_Logistics_logo-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/lg-logo-14410-1.png" data-sizes="auto" data-src="../Assets/Images/lg-logo-14410-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" data-sizes="auto" data-src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" alt="" width="200" height="60" />
                                    </div>
                                    <div class="carousel__item carousel__item--2">
                                        <img class="lazyload" src="../Assets/Images/Sanofi_logo_horizontal-1.png" data-sizes="auto" data-src="../Assets/Images/Sanofi_logo_horizontal-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/honda-logo-png-44818-1.png" data-sizes="auto" data-src="../Assets/Images/honda-logo-png-44818-1.png" alt="" width="50" height="50" />
                                        <img class="lazyload" src="../Assets/Images/Zara.png" data-sizes="auto" data-src="../Assets/Images/Zara.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/GoBolt.png" data-sizes="auto" data-src="../Assets/Images/GoBolt.png" alt="" width="300" height="100" />
                                        <img class="lazyload" src="../Assets/Images/CJ_Logistics_logo-1.png" data-sizes="auto" data-src="../Assets/Images/CJ_Logistics_logo-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/lg-logo-14410-1.png" data-sizes="auto" data-src="../Assets/Images/lg-logo-14410-1.png" alt="" width="200" height="60" />
                                        <img class="lazyload" src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" data-sizes="auto" data-src="../Assets/Images/PikPng.com_logistics-png_5297184-1.png" alt="" width="200" height="60" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="cta-section py-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="cta-container">
                                        <h3 class="mb-4">Get in Touch</h3>
                                        <p style="margin:40px;font-size:20px;">Ready to explore how Infinite Outsourcing Solutions can transform your business? Contact us today.</p>
                                        <button id="testBtn" class="btn">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @Html.Partial("_FooterSection")
                </div>
                <div class="scrollbar">
                    <div class="bar"></div>
                </div>

            </div>
        </div>
    </main>
</div>