@{
    Layout = "~/Views/Shared/_Layout_Dark.cshtml";
}

<div id="app" data-router-wrapper>
    <div id="data" class="data" data-router-view="data" data-scroll-wrapper data-light>
        <div class="inner">

            <div id="webgl_data_solutions1" class="background" data-desktop></div>
            <div id="webgl_data_solutions1_m" class="background" data-mobile></div>

            <section class="data__hero">
                <div class="container container--medium">
                    <h1 class="title title--large title--secondary title--init">
                        Industries <br />
                        We Empower
                    </h1>
                    <div class="wysiwyg wysiwyg--white title--init" data-desktop>
                        Explore how we transform your industry below, and let’s discuss
                        <br /> how we can help you achieve your goals.
                        
                    </div>
                    <div class="wysiwyg wysiwyg--white text--init" data-mobile>
                        Explore how we transform your industry below, and let’s discuss
                        <br /> how we can help you achieve your goals.
                    </div>
                </div>
                <div class="scroll" data-mobile></div>
                <div id="scroll" class="scroll scroll--white" data-desktop>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.19 133.19">
                        <circle cx="66.15" cy="2.13" r="2.13" />
                        <circle cx="86.09" cy="5.15" r="2.13" />
                        <circle cx="104.13" cy="14.18" r="2.13" />
                        <circle cx="118.49" cy="28.34" r="2.13" />
                        <circle cx="127.77" cy="46.25" r="2.13" />
                        <circle cx="131.06" cy="66.15" r="2.13" />
                        <circle cx="128.04" cy="86.09" r="2.13" />
                        <circle cx="119.01" cy="104.13" r="2.13" />
                        <circle cx="104.85" cy="118.49" r="2.13" />
                        <circle cx="86.94" cy="127.77" r="2.13" />
                        <circle cx="67.04" cy="131.06" r="2.13" />
                        <circle cx="47.1" cy="128.04" r="2.13" />
                        <circle cx="29.07" cy="119.01" r="2.13" />
                        <circle cx="14.71" cy="104.85" r="2.13" />
                        <circle cx="5.42" cy="86.94" r="2.13" />
                        <circle cx="2.13" cy="67.04" r="2.13" />
                        <circle cx="5.15" cy="47.1" r="2.13" />
                        <circle cx="14.18" cy="29.07" r="2.13" />
                        <circle cx="28.34" cy="14.71" r="2.13" />
                        <circle cx="46.25" cy="5.42" r="2.13" />
                    </svg>
                    <div class="scroll__arrow center"></div>
                </div>
            </section>

            <section class="data__content">
                <div class="container">
                    <div class="columns columns--0 columns--end">
                        <div class="columns__item columns__item--40">
                            <div class="title title--small title--white title--init">At Infinite Outsourcing Solutions, we understand that every industry has unique challenges, from talent shortages to operational inefficiencies. That’s why we deliver AI-driven staffing, recruiting, consulting, and automation solutions tailored to your specific needs. Powered by our proprietary Vorkz.ai platform, we reduce hiring time by up to 70% and deliver precise, scalable solutions that drive growth.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" data-desktop>
                    <div class="category__item">
                        <a href="#Accouting_Finance" data-router-disabled class="link link--circle">
                            <span>Accouting & Finance</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Pharmaceuticals" data-router-disabled class="link link--circle">
                            <span>
                                Pharmaceuticals
                            </span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Call-Center__Customer-Service" data-router-disabled class="link link--circle">
                            <span>Call Center & Customer Service</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Supply-Chain" data-router-disabled class="link link--circle">
                            <span>Supply Chain</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>

                    <div class="category__item">
                        <a href="#Skilled-Trades" data-router-disabled class="link link--circle">
                            <span>Skilled Trades</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Manufacturing" data-router-disabled class="link link--circle">
                            <span>
                                Manufacturing
                            </span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Office-Clerical-Administration" data-router-disabled class="link link--circle">
                            <span>Office & Clerical Administration</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="#Warehousing" data-router-disabled class="link link--circle">
                            <span>Warehousing</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                </div>
                <div class="container container--special">
                    <div class="cases">
                        <div class="cases__item" id="Accouting_Finance">
                            <div class="title title--small title--secondary title--init">Accouting & Finance</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Optimize Financial Operations

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US accounting and finance sector faces unique challenges: regulatory compliance, rising
                                                    costs, and the need for specialized talent. Infinite Outsourcing Solutions provides recruiting,
                                                    consulting, and staffing services to streamline financial operations, enhance efficiency, and
                                                    ensure compliance. Powered by Vorkz.ai, our AI-driven solutions deliver the talent and
                                                    strategies you need to succeed in a competitive market.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Our Staffing Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Pharmaceuticals">
                            <div class="title title--small title--secondary title--init">Pharmaceuticals</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Advance Healthcare Innovation
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US pharmaceutical industry operates in a high-stakes environment, requiring specialized
                                                    talent and regulatory expertise. Infinite Outsourcing Solutions provides recruiting, consulting,
                                                    and staffing services to drive innovation, ensure compliance, and accelerate growth. Powered
                                                    by Vorkz.ai, our solutions deliver the talent and strategies needed to thrive.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Comprehensive Recruiting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Call-Center__Customer-Service">
                            <div class="title title--small title--secondary title--init">Call Center & Customer Service</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Transform Your Customer Experience
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    In the fast-paced US market, call centres and customer service operations are the backbone of
                                                    customer satisfaction, but they face relentless challenges: high turnover, rising training costs,
                                                    and unpredictable demand spikes. Infinite Outsourcing Solutions delivers AI-driven staffing and
                                                    recruiting services to empower your call centre, ensuring seamless operations and exceptional
                                                    customer experiences.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Management Consulting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Supply-Chain">
                            <div class="title title--small title--secondary title--init">Supply Chain</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Streamline Logistics

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US supply chain sector faces challenges like rising costs, order errors, and demand
                                                    volatility. Infinite Outsourcing Solutions offers staffing, consulting, and warehouse automation
                                                    services to optimize logistics, reduce costs, and improve efficiency. Powered by Vorkz.ai, our
                                                    solutions ensure your supply chain operates at peak performance.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        AI Warehouse Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>

                        <div class="cases__item" id="Skilled-Trades">
                            <div class="title title--small title--secondary title--init">Skilled Trades</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Expert Skilled Trades Outsourcing

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US skilled trades sector—encompassing electricians, welders, carpenters, and more—
                                                    faces critical labor shortages and project timeline pressures. Infinite Outsourcing Solutions
                                                    delivers staffing and recruiting services to connect you with skilled tradespeople, ensuring your
                                                    projects stay on track. Powered by Vorkz.ai, our AI-driven platform reduces hiring time by up to
                                                    70%, delivering pre-vetted professionals who meet your exact needs. With 13 years of global
                                                    experience and 8,000+ placements, we’re your partner for success in construction,
                                                    manufacturing, and industrial projects.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Our Staffing Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Manufacturing">
                            <div class="title title--small title--secondary title--init">Manufacturing</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Boost Production Efficiency
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US manufacturing sector faces intense pressure to increase output, reduce costs, and
                                                    maintain quality. Infinite Outsourcing Solutions offers staffing, consulting, and warehouse
                                                    automation services to optimize production, enhance efficiency, and scale operations. Powered
                                                    by Vorkz.ai, our solutions address the unique needs of manufacturers, from assembly lines to
                                                    logistics.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Comprehensive Recruiting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Office-Clerical-Administration">
                            <div class="title title--small title--secondary title--init">Office & Clerical Administration</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Expert Administrative Outsourcing
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    Administrative tasks are the backbone of any business, but managing them can drain resources
                                                    and distract from core goals. Infinite Outsourcing Solutions provides tailored staffing and
                                                    recruiting services for office, clerical, and administrative roles, helping US businesses boost
                                                    efficiency and reduce costs.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Management Consulting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Warehousing">
                            <div class="title title--small title--secondary title--init">Warehousing</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Optimize Your Warehouse

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    The US warehousing sector, driven by e-commerce and logistics growth, faces intense pressure
                                                    to reduce costs, improve accuracy, and scale operations. Infinite Outsourcing Solutions offers
                                                    staffing, recruiting, and warehouse automation services to streamline your warehouse, ensuring
                                                    efficiency and customer satisfaction. Picture a warehouse where orders are fulfilled accurately and on time, even during peak
                                                    demand. Our solutions make that possible, driving efficiency and profitability.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        AI Warehouse Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="data__content">
                <div style="color: #a566c5;font-size: 33px;padding: 55px;font-weight: 500; text-align:center;">
                    <span>Why We Serve Diverse Industries?</span>
                </div>

                <div class="cus-slider-container noselect" style="width:93%;padding-left: 7%;">
                    <div class="cus-slide-items">
                        <div class="card1" style="margin-top: 0.8136vw;">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">Tailored Solutions</div>
                                </div>
                                <div class="hoverCardDiv">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Every industry has its own hurdles—whether it’s a supply chain battling order errors or a call center managing holiday spikes. Our deep understanding of sectors like accounting, warehousing, and skilled trades allows us to craft solutions that fit like a glove.</div>
                                    </div>
                                </div>
                            </div>
                        <div class="card1" style="margin-top: 1.6864vw;">
                            <div class="image" style="--ratio: 150%">
                                <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" alt="" width="480" height="720">
                                <div class="image__gradient"></div>
                            </div>
                            <div class="text">
                                <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Cross-Industry Innovation</div></p></div></div>
                            </div>
                            <div class="hoverCardDiv">
                                <div class="hoverCard">
                                    <div class="hoverCardContent">Working across industries sparks creativity and innovation. Insights from automating a warehouse with Vorkz.ai robotic systems inspire smarter call center processes, like AI chatbots that cut wait times by 30%.</div>
                                </div>
                            </div>
                        </div>
                        <div class="card1" style="margin-top: 0.8136vw;">
                            <div class="image" style="--ratio: 150%">
                                <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" alt="" width="480" height="720">
                                <div class="image__gradient"></div>
                            </div>
                            <div class="text">
                                <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Scalable and Flexible Expertise</div></p></div></div>
                            </div>
                            <div class="hoverCardDiv">
                                <div class="hoverCard">
                                    <div class="hoverCardContent">
                                        Diverse industries mean diverse needs, from a single accountant to hundreds of skilled tradespeople. Whether you’re a small office needing temporary clerks or a large warehouse seeking automation, our flexibility saves you time and money.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card1" style="margin-top: 1.6864vw;">
                            <div class="image" style="--ratio: 150%">
                                <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" alt="" width="480" height="720">
                                <div class="image__gradient"></div>
                            </div>
                            <div class="text">
                                <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Enhanced Trust & Partnership</div> </p></div></div>
                            </div>
                            <div class="hoverCardDiv">
                                <div class="hoverCard">
                                    <div class="hoverCardContent">Serving industries as varied as pharmaceuticals and skilled trades builds trust with US businesses. Our 97% client satisfaction rate reflects our commitment to understanding your world, whether it’s regulatory pressures or labor shortages.</div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more cards as needed -->
                    </div>
                </div>

            </section>

            <section class="cta-section py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cta-container">
                                <h3 class="mb-4">Get in Touch</h3>
                                <p style="margin:40px;font-size:20px;">Ready to see how our industry expertise can transform your operations? Let’s connect to explore tailored solutions for your business. Book a Free Consultation.</p>
                                <button id="testBtn" class="btn">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_FooterSection")

        </div>
        <div class="scrollbar">
            <div class="bar"></div>
        </div>
    </div>
</div>
