@{
    Layout = "~/Views/Shared/_Layout_Dark.cshtml";
}


<div id="app" data-router-wrapper>
    <div id="data" class="data" data-router-view="data" data-scroll-wrapper data-light>
        <div class="inner">

            <div id="webgl_data_solutions1" class="background"></div>
            <div id="webgl_data_solutions1_m" class="background" data-mobile></div>

            <section class="data__hero">
                <div class="container container--medium">
                    <h1 class="title title--large title--secondary title--init">
                        Comprehensive<br />
                        Outsourcing Solutions
                    </h1>
                    <div class="wysiwyg wysiwyg--white title--init" data-desktop>
                        Discover our services, benefits, and industry applications <br />
                        to scale smarter and succeed.
                    </div>
                    <div class="wysiwyg wysiwyg--white text--init" data-mobile>
                        Descubre como generar una estrategia de<br />
                        datos alineada con tu estrategia de negocio
                    </div>
                </div>
                <div class="scroll" data-mobile></div>
                <div id="scroll" class="scroll scroll--white" data-desktop>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.19 133.19">
                        <circle cx="66.15" cy="2.13" r="2.13" />
                        <circle cx="86.09" cy="5.15" r="2.13" />
                        <circle cx="104.13" cy="14.18" r="2.13" />
                        <circle cx="118.49" cy="28.34" r="2.13" />
                        <circle cx="127.77" cy="46.25" r="2.13" />
                        <circle cx="131.06" cy="66.15" r="2.13" />
                        <circle cx="128.04" cy="86.09" r="2.13" />
                        <circle cx="119.01" cy="104.13" r="2.13" />
                        <circle cx="104.85" cy="118.49" r="2.13" />
                        <circle cx="86.94" cy="127.77" r="2.13" />
                        <circle cx="67.04" cy="131.06" r="2.13" />
                        <circle cx="47.1" cy="128.04" r="2.13" />
                        <circle cx="29.07" cy="119.01" r="2.13" />
                        <circle cx="14.71" cy="104.85" r="2.13" />
                        <circle cx="5.42" cy="86.94" r="2.13" />
                        <circle cx="2.13" cy="67.04" r="2.13" />
                        <circle cx="5.15" cy="47.1" r="2.13" />
                        <circle cx="14.18" cy="29.07" r="2.13" />
                        <circle cx="28.34" cy="14.71" r="2.13" />
                        <circle cx="46.25" cy="5.42" r="2.13" />
                    </svg>
                    <div class="scroll__arrow center"></div>
                </div>
            </section>

            <section class="data__content">
                <div class="container">
                    <div class="columns columns--0 columns--end">
                        <div class="columns__item columns__item--40">
                            <div class="title title--small title--white title--init">
                                In today’s competitive US market, businesses face mounting pressures: talent shortages, rising
                                costs, and the need for operational agility. Infinite Outsourcing Solutions delivers AI-driven
                                workforce and automation services to help you overcome these challenges. With over 13 years
                                of global experience, we’ve placed more than 8,000 candidates across 100+ clients, operating
                                in 20 cities across three countries.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" data-desktop>
                    <div class="category__item">
                        <a href="https://mioticonsulting.dgrees.studio/data-strategy/#Staffing" data-router-disabled class="link link--circle">
                            <span>Staffing</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="~/#Recruiting" data-router-disabled class="link link--circle">
                            <span>Recruiting</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="https://mioticonsulting.dgrees.studio/data-strategy/#Consulting" data-router-disabled class="link link--circle">
                            <span>Consulting</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                    <div class="category__item">
                        <a href="https://mioticonsulting.dgrees.studio/data-strategy/#Warehouse-Automation" data-router-disabled class="link link--circle">
                            <span>Warehouse Automation</span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                            <path class="ico--arrow" d="M16.4,12.8c-0.6,0-1,0.4-1.1,1
                                        c0,0.3,0.1,0.6,0.4,0.8L22,20l-6.3,5.4c-0.4,0.4-0.5,1-0.2,1.5c0.3,0.4,1,0.5,1.4,0.2c0,0,0.1-0.1,0.1-0.1l7.2-6.2
                                        c0.4-0.4,0.5-1,0.1-1.5c0,0-0.1-0.1-0.1-0.1L17.1,13C16.9,12.8,16.7,12.8,16.4,12.8z" />
                            <circle class="ico--circle" cx="20" cy="20" r="19" />
                                </svg>
                        </a>
                    </div>
                </div>
                <div class="container container--special">
                    <div class="cases">
                        <div class="cases__item" id="Staffing">
                            <div class="title title--small title--secondary title--init">Staffing</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Our Staffing Solutions

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    Our temporary staffing services provide pre-vetted candidates for industrial,
                                                    administrative clerical, call center, and manufacturing roles. Powered by Vorkz.ai, our platform
                                                    analyzes role requirements and candidate profiles in real-time, reducing hiring time by up to
                                                    70%. Whether you need workers for a seasonal spike or a short-term project, we ensure rapid
                                                    placement without compromising quality
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-4.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Our Staffing Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Recruiting">
                            <div class="title title--small title--secondary title--init">Recruiting</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Comprehensive Recruiting <br />Services
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    Our permanent placement services connect you with top-tier professionals across all
                                                    industries, from executives to specialists. Vorkz.ai’s intelligent algorithms analyze job
                                                    requirements, company culture, and candidate performance data to deliver precise matches,
                                                    ensuring long-term success.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Comprehensive Recruiting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Consulting">
                            <div class="title title--small title--secondary title--init">Consulting</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                Management Consulting <br />Services
                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    Our consulting services provide expert guidance in IT engineering, digital design and
                                                    marketing, project management, corporate finance, operations management, and organizational
                                                    strategy. We help US businesses navigate complex challenges and achieve strategic goals.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/portada-prog-15.jpg); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        Management Consulting Services
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__item" id="Warehouse-Automation">
                            <div class="title title--small title--secondary title--init">Warehouse Automation</div>
                            <div class="columns" data-desktop>
                                <div class="columns__item">
                                    <div class="card card--large" style="cursor: default;">
                                        <div class="background">
                                            <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                            <div class="background__gradient"></div>
                                        </div>
                                        <div class="text">
                                            <hr class="hr hr--small hr--secondary hr--init">
                                            <div class="title title--small title--white title--init">
                                                AI Warehouse <br />Solutions

                                            </div>
                                            <div class="wysiwyg wysiwyg--white text--init">
                                                <p>
                                                    Our warehouse automation solutions leverage AI-driven robotic picking technology
                                                    and modular robotic rack systems to enhance efficiency, reduce costs, and improve order
                                                    fulfillment. Powered by Vorkz.ai, our systems are scalable and adaptable to any warehouse
                                                    size.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" data-mobile>
                                <div class="slider slider--draggable">
                                    <div class="slider__inner">
                                        <div class="slider__item">
                                            <div class="card card--large">
                                                <div class="background">
                                                    <div class="background__bg" style="background-image: url(https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/06/image-16.png); "></div>
                                                    <div class="background__gradient"></div>
                                                </div>
                                                <div class="text">
                                                    <div class="title title--small title--white title--init">
                                                        AI Warehouse Solutions
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__progress"><div class="bar"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="data__content">
                <div style="color: #a566c5;font-size: 33px;padding: 55px;font-weight: 500; text-align:center;">
                    <span>Why Choose Infinite Outsourcing Solutions?</span>
                </div>
                <div class="container container--large">
                    <div class="columns columns--1 columns--align-start">

                        <div class="columns__item columns__item--20">
                            <div class="card1">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3-200x300.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/equipo-3.jpg" alt="" width="480" height="720" />
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init">AI-Powered Innovation</div>
                                </div>
                                <div class="hoverCardDiv">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Vorkz.ai delivers unmatched speed and precision.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card1" style="transform: translate3d(0px, 1.6864vw, 0px);">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-architects-2.jpg" alt="" width="480" height="720">
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Global Expertise</div></p></div></div>
                                </div>
                                <div class="hoverCardDiv">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Leverage our experience across 20 cities and three countries.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card1" style="transform: translate3d(0px, 0.8136vw, 0px);">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-analyst-3.jpg" alt="" width="480" height="720">
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Client-Centric Approach</div></p></div></div>
                                </div>
                                <div class="hoverCardDiv">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Tailored solutions prioritize your goals.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns__item columns__item--20">
                            <div class="card1" style="transform: translate3d(0px, 1.6864vw, 0px);">
                                <div class="image" style="--ratio: 150%">
                                    <img class="lazyload" src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" data-sizes="auto" data-src="https://mioticonsulting.dgrees.studio/wp-content/uploads/2022/08/data-engneers.jpg" alt="" width="480" height="720">
                                    <div class="image__gradient"></div>
                                </div>
                                <div class="text">
                                    <div class="title title--xsmall title--white title--init" style=""><div class="line line--1" style="display: block; text-align: center; position: relative;"><p><div style="position: relative; display: inline-block; transform: translate(0px, 0%); opacity: 1;" class="word word--1">Proven Results</div> </p></div></div>
                                </div>
                                <div class="hoverCardDiv">
                                    <div class="hoverCard">
                                        <div class="hoverCardContent">Over 8,000 placements and 100+ satisfied clients.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <section class="cta-section py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cta-container">
                                <h3 class="mb-4">Get in Touch</h3>
                                <p style="margin:40px;font-size:20px;">Ready to explore how Infinite Outsourcing Solutions can transform your business? Contact us today.</p>
                                <button id="testBtn" class="btn">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_FooterSection")

        </div>
        <div class="scrollbar">
            <div class="bar"></div>
        </div>
    </div>
</div>

