<section class="home__footer">
    <div id="webgl_home4" class="background"></div>

    <footer id="footer" class="footer">
        <canvas id="webgl-canvas"></canvas>
        <div class="footer-content container container--small container--center">
            <div class="text center" data-desktop>
                <div class="supertitle supertitle--white">
                    Infinite Outsourcing.<br />
                    Unlimited Growth.
                </div>
                <div class="wysiwyg wysiwyg--large" data-desktop>
                    <p>3040 Post Oak blvd, Floor 18. <a href="tel:+34673842174" target="_blank" rel="noopener">+ 34 673 842 174</a> | contact@infiniteos.com</p>
                </div>
            </div>
            <div class="supertitle supertitle--white title--init" data-mobile>
                Be in<br />
                Touch.<br />
                Be<br />
                data<br />
                driven.
            </div>
            <div class="wysiwyg wysiwyg--large" data-mobile>
                TheCUBE Madrid,<br />
                C/ Rufino González 25 28037,<br />
                Madrid – España.<br />
                <a href="tel:+34673842174" target="_blank" rel="noopener">+ 34 673 842 174</a> | <a href="/cdn-cgi/l/email-protection#066f686069466b6f69726f286375" target="_blank" rel="noopener"><span class="__cf_email__" data-cfemail="4821262e27082521273c21662d3b">[email&#160;protected]</span></a>
            </div>
            <div class="info">
              @*   <ul class="social">
                    <li><a href="https://www.instagram.com/mymioti/?hl=es" aria-label="" class="instagram" target="_blank"></a></li>
                    <li><a href="https://www.linkedin.com/school/mioti/?originalSubdomain=es" aria-label="" class="linkedin" target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/channel/UClSC9kef8m9x8c4C6RPrCog" aria-label="" class="youtube" target="_blank"></a></li>
                    <li><a href="https://www.facebook.com/myMIOTI/" aria-label="" class="facebook" target="_blank"></a></li>
                </ul> *@
                @* <ul id="menu-legal" class="legal" style="opacity: 0.9979;">
                                            <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-314"><a href="https://mioticonsulting.dgrees.studio/aviso-legal/">Aviso legal</a></li>
                                            <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312"><a href="https://mioticonsulting.dgrees.studio/politica-de-privacidad/">Política de Privacidad</a></li>
                                            <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313"><a href="https://mioticonsulting.dgrees.studio/politica-de-cookies/">Política de Cookies</a></li>
                                        </ul> *@
                <ul class="social">
                    <li><a href="/" class="footer-links" style="width:80px;">About Us</a></li>
                    <li class="text-white opacity-50 fs-14">|</li>
                    <li><a href="/" class="footer-links" style="width:80px;">Contact Us</a></li>
                    <li class="text-white opacity-50 fs-14">|</li>
                    <li><a href="/" class="footer-links" style="width:80px;">Privacy Policy</a></li>
                    <li class="text-white opacity-50 fs-14">|</li>
                    <li><a href="/" class="footer-links" style="width:120px;">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>


</section>