<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinite Outsourcing System</title>
    <link href="~/favicon.ico" rel="shortcut icon">
    <link href="~/css/Hero.css" rel="stylesheet">
    <link href="~/build/assets/web-i13Hnk8_.css" rel="stylesheet" />
    <link href="~/build/assets/Button-Ct48122L.css" rel="stylesheet" />

</head>
<body>

    <partial name="_MenuBar" />
    @RenderBody()
    <script type="module" src="/build/assets/Hero-CVUfKJap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
