<style>
    .arrow {
        background-color: #fafaf8;
        background-image: url(Assets/Images/ico-arrow.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 20%;
        border-radius: 50%;
        bottom: 2.5vw;
        box-shadow: 0 0 60px rgba(0,0,0,.1);
        cursor: pointer;
        height: 5vw;
        line-height: 5vw;
        position: fixed;
        right: 2.5vw;
        transform: scale(1);
        width: 5vw
    }

        .arrow, .arrow:hover {
            transition: transform .5s ease-out
        }

            .arrow:hover {
                transform: scale(.9)
            }

    #contactus-div button{
        padding-top: 8%;
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div id="vhr"></div>
<div id="menu" class="menu" style="display:none">
    <div class="menu__mask"></div>
    <div class="menu__content">
        @*  <ul id="menu-menu-principal" class="menu_header">
            <li onclick="GoToURL('home')" id="menu-item-247" class="menu-item--home menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-9 menu-item-247 "><a href="" aria-current="page">Home</a></li>
            <li onclick="GoToURL('home/aboutus')" id="menu-item-249" class="menu-item--data menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="">About Us</a></li>
            <li onclick="GoToURL('home/services')" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Services</a></li>
            <li onclick="GoToURL('home/industries')" id="menu-item-250" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Industries</a></li>
            <li onclick="GoToURL('home/contactus')" id="menu-item-248" class="menu-item--ai menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="">Contact Us</a></li>
        </ul> *@
        <div id="button--request" class="button button--primary button--request" data-mobile>
        </div>
    </div>
</div>
@* <div id="scrollToTopBtn" class="arrow" data-desktop="">

</div> *@
<header class="_header_qr60b_23 _bannerClosed_qr60b_35" id="navBar">
    <div class="_itemsWrapper_qr60b_95">
        <button class="_logoWrapper_qr60b_153" >
            <div class="_webGLEffect_qr60b_40">
                <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <img onclick="GoToURL('/Home/Index')" src="~/Assets/Images/Group-191-1-600x145.webp" alt="Logo" width="136" height="35">
        </button>

        <nav class="_headerNav_qr60b_153">
            <ol class="_headerNavOl_qr60b_312">
                <li onclick="GoToURL('/Home/Index')">
                    <a class="jumble-text">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">Home </span>
                        </span>
                    </a>
                </li>
                <li onclick="GoToURL('/Home/AboutUs')">
                    <a class="jumble-text">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">About Us </span>
                        </span>
                    </a>
                </li>
                <li onclick="GoToURL('/Home/Services')">
                    <a class="jumble-text">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">Services </span>
                        </span>
                    </a>
                </li>
                <li onclick="GoToURL('/Home/Industries')">
                    <a class="jumble-text">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">Industries </span>
                        </span>
                    </a>
                </li>

@* 
                <li onclick="GoToURL('/Home/Blogs')">
                    <a class="jumble-text">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">Blogs </span>
                        </span>
                    </a>
                </li> *@
            </ol>
        </nav>
        <div id="contactus-div" class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" data-rac="">

            <button onclick="GoToURL('/Home/ContactUs')" id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac="">
                    <div class="_webGLEffect_zipky_54">
                        <img src="../Assets/Images/dots-header.png" width="210" height="80" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true">
                        <span class="_textScrambleAnimation_1mtai_28">
                            <span aria-hidden="true" class="_absoluteText_1mtai_23">Contact Us </span>
                            <span class="_realText_1mtai_38">Contact Us</span>
                        </span>
                    </span>
                </button>
        </div>

    </div>
</header>

<header id="header" class="header" style="display:none">
    <div class="container container--large">
        <div class="columns">
            <div class="columns__item">
                <a style="width:230px;" href="#" id="logo" class="logo"></a>
            </div>
            <div class="columns__item" data-desktop>

                <div id="trigger" class="trigger button--primary button--request">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
            <div class="columns__item" data-mobile>
                <div id="trigger" class="trigger">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>

    const target = document.getElementById('navBar');
    let lastScrollY = window.scrollY;

    window.addEventListener('wheel', (event) => {
        const currentScrollY = window.scrollY;

        if (event.deltaY > 0) {
            // Scroll down → hide
            target.classList.add('hidden');
        } else {
            // Scroll up → show immediately
            target.classList.remove('hidden');
        }

        lastScrollY = currentScrollY;
    });
</script>