<style>
    .arrow {
        background-color: #fafaf8;
        background-image: url(Assets/Images/ico-arrow.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 20%;
        border-radius: 50%;
        bottom: 2.5vw;
        box-shadow: 0 0 60px rgba(0,0,0,.1);
        cursor: pointer;
        display: none;
        height: 5vw;
        line-height: 5vw;
        opacity: .0001;
        position: fixed;
        right: 2.5vw;
        transform: scale(1);
        width: 5vw
    }

        .arrow, .arrow:hover {
            transition: transform .5s ease-out
        }

            .arrow:hover {
                transform: scale(.9)
            }
</style>

<div id="vhr"></div>
<div id="menu" class="menu">
    <div class="menu__mask"></div>
    <div class="menu__content">
        <ul id="menu-menu-principal" class="menu_header">
            <li onclick="GoToURL('home')" id="menu-item-247" class="menu-item--home menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-9 menu-item-247 "><a href="" aria-current="page">Home</a></li>
            <li onclick="GoToURL('home/aboutus')" id="menu-item-249" class="menu-item--data menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="">About Us</a></li>
            <li onclick="GoToURL('home/services')" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Services</a></li>
            <li onclick="GoToURL('home/industries')" id="menu-item-250" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Industries</a></li>
            <li onclick="GoToURL('home/contactus')" id="menu-item-248" class="menu-item--ai menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="">Contact Us</a></li>
        </ul>
        <div id="button--request" class="button button--primary button--request" data-mobile>
        </div>
    </div>
</div>
<div id="arrow" class="arrow" data-desktop="" @* style="display: none; opacity: 0.0001;" *@></div>
<header class="_header_qr60b_23 _bannerClosed_qr60b_35"><div class="_itemsWrapper_qr60b_95"><a class="_logoWrapper_qr60b_153" href="/"><div class="_webGLEffect_qr60b_40"><img src="/images/dots-header.png" width="210" height="80" srcset="/images/dots-header.png?w=210&amp;h=80&amp;fm=auto&amp;q=75 1x, /images/dots-header.png?w=420&amp;h=160&amp;fm=auto&amp;q=75 2x" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;"></div><svg xmlns="http://www.w3.org/2000/svg" width="136" height="24" fill="none" viewBox="0 0 136 24" focusable="false" aria-hidden="true" class="_logo_qr60b_153"><path fill="#fff" d="M24.518 0H16.96c-.24 0-.401.16-.401.32v8.237c0 .16-.161.24-.242.08L7.315.08c0-.08-.08-.08-.16-.08H.401C.16 0 0 .16 0 .32v6.558c0 .08 0 .16.08.16l17.525 16.874c0 .08.08.08.16.08h6.833c.241 0 .402-.16.402-.4V.32c-.08-.16-.241-.32-.482-.32M7.958 16.003H.402c-.241 0-.402.16-.402.32V23.6c0 .24.16.4.402.4h7.556c.241 0 .402-.16.402-.32v-7.277c0-.24-.241-.4-.402-.4M37 6h1.518l5.913 8.88-.08-.8V6h1.599v11.52h-1.52l-5.913-8.88.08.8v8.08H37zm11.35 0h7.75v1.44h-6.152v3.76h5.274v1.2h-5.274v3.76h6.153v1.44H48.35zm10.144 0h1.678l3.037 8.72.16.8.16-.8L66.564 6h1.758l-3.996 11.52H62.57zM70.64 6h7.75v1.44h-6.152v3.76h5.274v1.2h-5.274v3.76h6.153v1.44H70.64zm15.264 0c1.199 0 2.158.32 2.717.88.64.56.959 1.44.959 2.56 0 .88-.24 1.6-.64 2.08-.399.48-1.038.88-1.837 1.04l2.717 4.96h-1.838l-2.557-4.72h-3.037v4.72H80.79V6zm-.24 5.44c.64 0 1.199-.16 1.599-.56.4-.32.639-.88.639-1.52s-.16-1.12-.56-1.52q-.599-.48-1.678-.48h-3.356v4h3.356zM92.216 6h1.598v5.12h5.833V6h1.599v11.52h-1.599v-5.04h-5.833v5.04h-1.598zm21.251 11.52h-1.758l-3.037-8.72-.16-.8-.159.8-3.037 8.72h-1.758L107.554 6h1.757zm7.115.48c-.958 0-1.758-.16-2.477-.48a3.7 3.7 0 0 1-1.678-1.44c-.399-.64-.559-1.36-.559-2.24v-3.68c0-.88.16-1.6.559-2.24q.6-.96 1.678-1.44c.719-.32 1.519-.48 2.477-.48.879 0 1.678.16 2.398.4.639.32 1.198.72 1.598 1.2.399.56.639 1.12.719 1.92h-1.598A2.78 2.78 0 0 0 122.74 8c-.559-.4-1.199-.56-2.078-.56-.559 0-1.118.08-1.598.32-.479.24-.879.56-1.118.96s-.4.88-.4 1.44v3.68c0 .56.16 1.04.4 1.44.239.4.639.72 1.118.96s1.039.32 1.598.32c.879 0 1.598-.16 2.078-.56q.839-.6.959-1.68h1.598c-.08 1.12-.559 2.08-1.359 2.72q-1.318.96-3.356.96m8.626-12v5.04L133.843 6h1.997l-5.274 5.76L136 17.6h-2.157l-4.715-5.04v5.04h-1.598V6z"></path></svg></a><div class="_mobileRightWrapper_qr60b_144"><button class="_caseBtn_qr60b_153" type="button"><div class="_webGLEffect_qr60b_40"><img src="/images/dots-header.png" width="210" height="80" srcset="/images/dots-header.png?w=210&amp;h=80&amp;fm=auto&amp;q=75 1x, /images/dots-header.png?w=420&amp;h=160&amp;fm=auto&amp;q=75 2x" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;"></div><span class="_textScrambleAnimation_1mtai_28 _headerBtnText_qr60b_173"><span aria-hidden="true" class="_absoluteText_1mtai_23"> <div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">U</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">s</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">e</div> <div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">c</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">a</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">s</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">e</div><div style="position: relative; display: inline-block; opacity: 1;" class="_charLowercase_1mtai_43">s</div></span><span class="_realText_1mtai_38">Use cases</span></span><div class="_useCaseIconWrapper_qr60b_285"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 14 14" focusable="false" aria-hidden="true" class="_squareDot_qr60b_126"><path fill="currentColor" d="M0 0h2v2H0z" opacity="0.991" style="opacity: 0.35;"></path><path fill="currentColor" d="M6 0h2v2H6z" opacity="0.992" style="opacity: 0.3683;"></path><path fill="currentColor" d="M12 0h2v2h-2z" opacity="0.993" style="opacity: 0.7348;"></path><path fill="currentColor" d="M0 6h2v2H0z" opacity="0.994" style="opacity: 0.35;"></path><path fill="currentColor" d="M6 6h2v2H6z" opacity="0.995" style="opacity: 0.5609;"></path><path fill="currentColor" d="M12 6h2v2h-2z" opacity="0.996" style="opacity: 0.4535;"></path><path fill="currentColor" d="M0 12h2v2H0z" opacity="0.997" style="opacity: 0.5609;"></path><path fill="currentColor" d="M6 12h2v2H6z" opacity="0.998" style="opacity: 0.3683;"></path><path fill="currentColor" d="M12 12h2v2h-2z" opacity="0.999" style="opacity: 0.35;"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true" class="_iconCross_qr60b_114"><path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" d="m13.999 14.06-3.97-4.03m0 0L6.059 6m3.97 4.03 4.03-3.97m-4.03 3.97L5.999 14"></path></svg></div></button><div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-desktop locale-switcher-header-mobile" data-rac=""><div><button id="react-aria7244915007-:r2:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:r7: react-aria7244915007-:r2:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac=""><div class="_webGLEffect_zipky_54"><img src="/images/dots-header.png" width="210" height="80" srcset="/images/dots-header.png?w=210&amp;h=80&amp;fm=auto&amp;q=75 1x, /images/dots-header.png?w=420&amp;h=160&amp;fm=auto&amp;q=75 2x" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;"></div><span id="react-aria7244915007-:r7:" class="react-aria-SelectValue" data-rac="" data-placeholder="true"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">en </span><span class="_realText_1mtai_38">en</span></span></span></button></div></div><div aria-hidden="true" data-react-aria-prevent-focus="true" data-a11y-ignore="aria-hidden-focus" data-testid="hidden-select-container" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;"><label><select tabindex="-1" title=""><option></option></select></label></div><button type="button" class="_menuBtn_qr60b_1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true" class="_burger_qr60b_121"><path stroke="#fff" stroke-linecap="square" stroke-linejoin="round" d="M1 13h18M1 7h18"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true" class="_iconCross_qr60b_114"><path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" d="m13.999 14.06-3.97-4.03m0 0L6.059 6m3.97 4.03 4.03-3.97m-4.03 3.97L5.999 14"></path></svg></button></div><nav class="_headerNav_qr60b_153"><ol class="_headerNavOl_qr60b_312"><li><a class="_headerNavText_qr60b_338" href="https://neverhack.com/en"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">Home </span><span class="_realText_1mtai_38">Home</span></span></a></li><li><a class="_withSuperscript_qr60b_407 _headerNavText_qr60b_338" href="https://neverhack.com/en/offers"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">Offers </span><span class="_realText_1mtai_38">Offers</span></span><span class="_superscript_qr60b_422">14</span></a></li><li><a class="_headerNavText_qr60b_338" href="https://neverhack.com/en/about"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">About </span><span class="_realText_1mtai_38">About</span></span></a></li><li><a class="_headerNavText_qr60b_338" href="https://neverhack.com/en/careers"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">careers </span><span class="_realText_1mtai_38">careers</span></span></a></li><li><a class="_headerNavText_qr60b_338" href="https://neverhack.com/en/jobs"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">Jobs </span><span class="_realText_1mtai_38">Jobs</span></span></a></li><li><a class="_headerNavText_qr60b_338" href="https://neverhack.com/en/news"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">news </span><span class="_realText_1mtai_38">news</span></span></a></li><li><a class="_active_qr60b_149 _headerNavText_qr60b_338" href="https://neverhack.com/en/contact"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">Contact </span><span class="_realText_1mtai_38">Contact</span></span></a></li></ol></nav><div class="_langBtn_zipky_23 _langBtnHeader_qr60b_429 hide-mobile-tablet locale-switcher-header" data-rac=""><div><button id="react-aria7244915007-:rc:" type="button" aria-label="en" aria-labelledby="react-aria7244915007-:rh: react-aria7244915007-:rc:" aria-haspopup="listbox" aria-expanded="false" class="react-aria-Button" data-rac=""><div class="_webGLEffect_zipky_54"><img src="/images/dots-header.png" width="210" height="80" srcset="/images/dots-header.png?w=210&amp;h=80&amp;fm=auto&amp;q=75 1x, /images/dots-header.png?w=420&amp;h=160&amp;fm=auto&amp;q=75 2x" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;"></div><span id="react-aria7244915007-:rh:" class="react-aria-SelectValue" data-rac="" data-placeholder="true"><span class="_textScrambleAnimation_1mtai_28"><span aria-hidden="true" class="_absoluteText_1mtai_23">en </span><span class="_realText_1mtai_38">en</span></span></span></button></div></div><div aria-hidden="true" data-react-aria-prevent-focus="true" data-a11y-ignore="aria-hidden-focus" data-testid="hidden-select-container" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;"><label><select tabindex="-1" title=""><option></option></select></label></div><a class="_hubBtn_qr60b_153" target="_blank" rel="noopener noreferrer" href="https://hub.neverhack.com"><div class="_webGLEffect_qr60b_40"><img src="/images/dots-header.png" width="210" height="80" srcset="/images/dots-header.png?w=210&amp;h=80&amp;fm=auto&amp;q=75 1x, /images/dots-header.png?w=420&amp;h=160&amp;fm=auto&amp;q=75 2x" loading="lazy" alt="Dots" style="width: 100%; height: 100%; object-fit: cover;"></div><span class="_textScrambleAnimation_1mtai_28 _headerBtnText_qr60b_173"><span aria-hidden="true" class="_absoluteText_1mtai_23">Join the hub </span><span class="_realText_1mtai_38">Join the hub</span></span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" focusable="false" aria-hidden="true" class="_arrow_qr60b_393"><path stroke="currentColor" stroke-linecap="square" d="M15 10.714V5m0 0H9.286M15 5 5 15"></path></svg></a></div></header>

<header id="header" class="header">
    <div class="container container--large">
        <div class="columns">
            <div class="columns__item">
                <a style="width:230px;" href="#" id="logo" class="logo"></a>
            </div>
            <div class="columns__item" data-desktop>

                <div id="trigger" class="trigger button--primary button--request">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
            <div class="columns__item" data-mobile>
                <div id="trigger" class="trigger">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function GoToURL(value){
        var url = "https://localhost:7200/" + value;
        window.open(url, '_self');
    }
</script>