<div id="vhr"></div>
<div id="menu" class="menu">
    <div class="menu__mask"></div>
    <div class="menu__content">
        <ul id="menu-menu-principal" class="menu_header">
            <li onclick="GoToURL('home')" id="menu-item-247" class="menu-item--home menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-9 menu-item-247 "><a href="" aria-current="page">Home</a></li>
            <li onclick="GoToURL('home/aboutus')" id="menu-item-249" class="menu-item--data menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="">About Us</a></li>
            <li onclick="GoToURL('home/services')" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Services</a></li>
            <li onclick="GoToURL('home/industries')" id="menu-item-250" class="menu-item--about menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="">Industries</a></li>
            <li onclick="GoToURL('home/contactus')" id="menu-item-248" class="menu-item--ai menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="">Contact Us</a></li>
        </ul>
        <div id="button--request" class="button button--primary button--request" data-mobile>
        </div>
    </div>
</div>
<header id="header" class="header">
    <div class="container container--large">
        <div class="columns">
            <div class="columns__item">
                <a style="width:230px;" href="#" id="logo" class="logo"></a>
            </div>
            <div class="columns__item" data-desktop>

                <div id="trigger" class="trigger button--primary button--request">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
            <div class="columns__item" data-mobile>
                <div id="trigger" class="trigger">
                    <div class="trigger__inner center">
                        <div class="trigger__item trigger__item--top"></div>
                        <div class="trigger__item trigger__item--bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function GoToURL(value){
        var url = "https://localhost:7200/" + value;
        window.open(url, '_self');
    }
</script>