<div id="vhr"></div>
<div id="menu" class="menu">
    <div class="menu__mask"></div>
</div>
<header id="header" class="header">
    <div id="arrow" class="arrow" data-desktop="" style="display: block; opacity: 1;"></div>
    <div class="container container--large">
        <div class="columns">
          
            <div class="columns__item" id="navbar_links">
                 <div id="border-Box1">
                    <a style="width:230px;" href="#" id="logo" class="logo"></a>

                    <div class="site-menu" style="font-size:x-large">
                        <ul id="menu-main-menu" class="nav-menu">
                            <li id="menu-item-60" style="padding:15px;" class="nav-item"><a href="https://sctconsulting.com.au/about-us/" class="nav-link"><u>Home</u></a><i></i></li>
                            <li id="menu-item-2435" style="padding:15px;" class="nav-item"><a href="https://sctconsulting.com.au/team/" class="nav-link"><u>About Us</u></a></li>
                            <li id="menu-item-59" style="padding:15px;" class="nav-item"><a href="https://localhost:7200/home/services" class="nav-link"><u>Services</u></a></li>
                            <li id="menu-item-58" style="padding:15px;" class="nav-item"><a href="https://sctconsulting.com.au/projects/" class="nav-link"><u>Industries</u></a></li>
                            <li id="menu-item-35" style="padding:15px;" class="nav-item"><a href="https://sctconsulting.com.au/news/" class="nav-link"><u>Contact Us</u></a></li>
                        </ul>
                    </div>
                 </div>
                
            </div>
            <div class="columns__item" data-desktop>
                <div id="trigger">
                </div>
            </div>
            <div class="columns__item" data-mobile>
                <div id="trigger">
                </div>
            </div>
        </div>
    </div>
</header>


                                <script>
    const logo = document.getElementById('logo');
    const target = document.getElementById('menu-main-menu');

    function syncOpacity() {
        const logoOpacity = parseFloat(window.getComputedStyle(logo).opacity);
        target.style.opacity = logoOpacity;
    }

    // Observe opacity changes on #logo
    const observer = new MutationObserver(syncOpacity);
    observer.observe(logo, {
        attributes: true,
        attributeFilter: ['style']
    });

    // Sync once on load
    syncOpacity();
</script>