._animatedBackground_bo663_1 {
    position: relative
}

    ._animatedBackground_bo663_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_bo663_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._textFadeAnimation_bo663_23 {
    position: relative;
    display: block;
    overflow: hidden
}

    ._textFadeAnimation_bo663_23._hidden_bo663_28 {
        visibility: hidden;
        opacity: 0
    }

._char_bo663_33 {
    opacity: .1
}

._line_bo663_37 {
    opacity: 0;
    transform: translate3d(0,100%,0)
}

._animatedBackground_1mtai_1 {
    position: relative
}

    ._animatedBackground_1mtai_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_1mtai_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._absoluteText_1mtai_23 {
    position: absolute;
    left: 0
}

._textScrambleAnimation_1mtai_28 {
    position: relative;
    display: block;
    white-space: nowrap
}

    ._textScrambleAnimation_1mtai_28._centered_1mtai_33 ._absoluteText_1mtai_23 {
        left: 50%;
        transform: translate(-50%)
    }

._realText_1mtai_38 {
    display: block;
    opacity: 0
}

._charLowercase_1mtai_43:first-child {
    text-transform: uppercase
}

._animatedBackground_1ril0_1 {
    position: relative
}

    ._animatedBackground_1ril0_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_1ril0_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._animatedImage_1ril0_23 {
    position: relative;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    margin: 0 auto
}

@media (min-width: 64em) {
    ._animatedImage_1ril0_23 {
        width: 200px;
        height: 200px
    }
}

._animatedImage_1ril0_23 canvas, ._animatedImage_1ril0_23 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

._animatedBackground_30lxk_1 {
    position: relative
}

    ._animatedBackground_30lxk_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_30lxk_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._animatedBackground_zipky_1, ._listBoxItem_zipky_1 {
    position: relative
}

    ._animatedBackground_zipky_1:before, ._listBoxItem_zipky_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_zipky_1:hover:before, ._listBoxItem_zipky_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._langBtn_zipky_23 {
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

    ._langBtn_zipky_23 button {
        position: relative;
        width: 100%;
        padding: 0 12px;
        color: #ffffffbf;
        text-transform: uppercase;
        cursor: pointer;
        transition: color .3s linear,background-color .5s linear
    }

        ._langBtn_zipky_23 button:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: #fff;
            transition: transform .4s cubic-bezier(.4,0,.1,1);
            transform: scaleX(0);
            transform-origin: right
        }

@media (hover: hover) and (pointer: fine) {
    ._langBtn_zipky_23 button:hover {
        color: #fff;
        background-color: #ffffff05
    }

        ._langBtn_zipky_23 button:hover ._webGLEffect_zipky_54 {
            opacity: 1
        }
}

@media (min-width: 64em) {
    ._langBtn_zipky_23 button {
        padding: 0 36px
    }
}

._langBtn_zipky_23 button[aria-expanded=true] {
    color: #0e0e0e;
    cursor: pointer
}

    ._langBtn_zipky_23 button[aria-expanded=true]:before {
        transform: scaleX(1);
        transform-origin: left
    }

._langBtn_zipky_23 button > span {
    display: inline-block
}

._langBtn_zipky_23 div[data-testid=underlay] {
    display: none
}

._webGLEffect_zipky_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s linear
}

._popover_zipky_86[data-trigger=Select] {
    position: relative;
    width: 100%;
    margin-top: 1px;
    background-color: #0e0e0e;
    border: 1px solid rgba(255,255,255,.1490196078);
    border-top: none
}

@media (max-width: 63.99em) {
    ._popover_zipky_86[data-trigger=Select] {
        border-top: none
    }
}

._listBox_zipky_1 {
    display: block;
    border: none;
    outline: none
}

._listBoxItem_zipky_1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    font-size: .875rem;
    color: #ffffffbf;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: color .3s linear
}

    ._listBoxItem_zipky_1:before {
        background-color: #ffffff0d
    }

@media (hover: hover) and (pointer: fine) {
    ._listBoxItem_zipky_1:hover {
        color: #fff
    }
}

@media (min-width: 64em) {
    ._listBoxItem_zipky_1 {
        padding: 0 20px
    }
}

@media (min-width: 105em) {
    ._listBoxItem_zipky_1 {
        padding: 0 36px
    }
}

._listBoxItem_zipky_1[data-selected] {
    color: #fff
}

    ._listBoxItem_zipky_1[data-selected] ._check_zipky_141 {
        display: block;
        opacity: 1
    }

._listBoxItem_zipky_1 span:first-letter {
    text-transform: uppercase
}

._animatedBackground_u89vv_1 {
    position: relative
}

    ._animatedBackground_u89vv_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_u89vv_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._flexWrapper_u89vv_23 {
    display: flex;
    padding: 0 24px;
    border-bottom: 1px solid #323232
}

    ._flexWrapper_u89vv_23:last-child {
        border-bottom: none
    }

    ._flexWrapper_u89vv_23 a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        font-size: .8125rem;
        line-height: 1.6;
        border-left: 1px solid #323232
    }

        ._flexWrapper_u89vv_23 a:last-child {
            border-right: 1px solid #323232
        }

        ._flexWrapper_u89vv_23 a._socialLink_u89vv_44 {
            width: auto;
            padding: 0 36px
        }

            ._flexWrapper_u89vv_23 a._socialLink_u89vv_44 svg {
                width: 20px;
                height: 20px
            }

        ._flexWrapper_u89vv_23 a._small_u89vv_52 {
            font-size: .625rem;
            color: #ffffffbf
        }

._langBtn_u89vv_57 {
    width: 100%
}

    ._langBtn_u89vv_57 button {
        min-height: 70px;
        border-left: 1px solid #323232
    }

._description_u89vv_65 {
    padding: 24px 36px;
    font-size: .6875rem;
    line-height: 1.6;
    color: #ffffff80;
    border-right: 1px solid #323232;
    border-left: 1px solid #323232
}

@media (min-width: 64em) {
    ._description_u89vv_65 {
        color: #ffffff80
    }
}

._animatedBackground_mz94d_1, ._flexWrapper_mz94d_1 a {
    position: relative
}

    ._animatedBackground_mz94d_1:before, ._flexWrapper_mz94d_1 a:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_mz94d_1:hover:before, ._flexWrapper_mz94d_1 a:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._footer_mz94d_23 {
    position: relative;
    margin-top: 30px
}

@media (min-width: 64em) {
    ._footer_mz94d_23 {
        margin-top: 70px
    }
}

._topWrapper_mz94d_33 {
    margin-bottom: 40px
}

@media (min-width: 64em) {
    ._topWrapper_mz94d_33 {
        margin-bottom: 60px
    }
}

._topWrapper_mz94d_33 p {
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    line-height: 1;
    text-align: center
}

@media (min-width: 64em) {
    ._topWrapper_mz94d_33 p {
        font-size: 5.625rem
    }
}

._bottomWrapper_mz94d_54 {
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1)
}

._lineWrapper_mz94d_59 {
    height: 110px;
    border-bottom: 1px solid rgba(255,255,255,.1)
}

    ._lineWrapper_mz94d_59:last-child {
        border: none
    }

._bottom_mz94d_54 > a {
    font-size: .75rem;
    color: #ffffffbf
}

._top_mz94d_33 > a {
    font-size: .875rem
}

._flexWrapper_mz94d_1 {
    display: flex;
    height: 100%
}

    ._flexWrapper_mz94d_1 a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 11%;
        line-height: 1.6;
        border-left: 1px solid #323232
    }

        ._flexWrapper_mz94d_1 a:last-child {
            border-right: 1px solid #323232
        }

        ._flexWrapper_mz94d_1 a:before {
            background-color: #ffffff03
        }

        ._flexWrapper_mz94d_1 a._socialLink_mz94d_95 {
            width: 100%;
            max-width: 150px;
            height: 100%
        }

            ._flexWrapper_mz94d_1 a._socialLink_mz94d_95 svg {
                width: 20px;
                height: 20px
            }

._itemEmpty_mz94d_105 {
    width: 100%;
    height: 100%;
    border-left: 1px solid #323232
}

._descriptionWrapper_mz94d_111 {
    display: flex;
    align-items: center;
    height: 90%;

    border-left: 1px solid #323232
}

    ._descriptionWrapper_mz94d_111 p {
        font-size: .75rem;
        line-height: 1.4;
        color: #ffffff59
    }

._rights_mz94d_124 {
    display: block;
    margin: 24px auto 0;
    font-size: .75rem;
    line-height: 1.1;
    color: #ffffffbf;
    text-align: center;
    letter-spacing: .02em
}

@media (min-width: 64em) {
    ._rights_mz94d_124 {
        margin: 50px auto 0;
        font-size: .875rem
    }
}

._credits_mz94d_140 {
    display: block;
    margin: 12px auto 24px;
    font-size: .75rem;
    line-height: 1.1;
    color: #fff9;
    text-align: center;
    letter-spacing: .02em
}

@media (min-width: 64em) {
    ._credits_mz94d_140 {
        margin: 12px auto 50px;
        font-size: .75rem
    }
}

._link_mz94d_156 {
    position: relative;
    color: #fff
}

    ._link_mz94d_156:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #ffffffbf;
        transition: transform .3s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._link_mz94d_156:hover:after {
        transform: scaleX(1);
        transform-origin: left
    }
}

._animatedBackground_v8y70_1 {
    position: relative
}

    ._animatedBackground_v8y70_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_v8y70_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._menuMobile_v8y70_23 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    background: #0e0e0e;
    transform: translate3d(0,-100%,0)
}

    ._menuMobile_v8y70_23::-webkit-scrollbar {
        display: none
    }

._menuMobileNav_v8y70_43 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding: 80px 0 64px;
    transform: translate3d(0,100%,0)
}

._menuItem_v8y70_53 {
    padding: 33px 24px;
    border-bottom: 1px solid rgba(255,255,255,.0509803922)
}

._menuItemLink_v8y70_58 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.2;
    text-transform: capitalize
}

    ._menuItemLink_v8y70_58._active_v8y70_68 {
        color: #ffffff80
    }

._withSuperscript_v8y70_72 {
    display: inline-flex;
    gap: 6px
}

._superscript_v8y70_77 {
    font-family: GeistMono,monospace;
    font-weight: 500;
    padding-top: 10px;
    font-size: .75rem;
    line-height: 0
}

._headerBtnWrapper_v8y70_85 {
    position: relative;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 54px;
    padding: 0 16px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: .9375rem;
    line-height: 1;
    background: #25252599;
    border: 1px solid rgba(255,255,255,.0509803922);
    border-radius: 8px;
    transition: border-color .3s linear
}

@media (hover: hover) and (pointer: fine) {
    ._headerBtnWrapper_v8y70_85:hover {
        border-color: #ffffff4d
    }
}

._headerBtnWrapper_v8y70_85 svg {
    width: 50px
}

._arrow_v8y70_112 {
    width: 28px;
    height: 28px
}

._headerBtnWhite_v8y70_117 {
    border: 1px solid #fff
}

._animatedBackground_11ivc_1, ._useCaseLink_11ivc_1 {
    position: relative
}

    ._animatedBackground_11ivc_1:before, ._useCaseLink_11ivc_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_11ivc_1:hover:before, ._useCaseLink_11ivc_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._menuUseCases_11ivc_23 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background: #0e0e0e;
    transform: translate3d(0,-100%,0)
}

@media (max-width: 63.99em) {
    ._menuUseCases_11ivc_23:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 150px;
        pointer-events: none;
        content: "";
        background: linear-gradient(180deg,#0e0e0e,#0e0e0e00)
    }

    ._menuUseCases_11ivc_23:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        pointer-events: none;
        content: "";
        background: linear-gradient(0deg,#0e0e0e,#0e0e0e00)
    }
}

._overlay_11ivc_59 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #0e0e0e
}

._innerWrapper_11ivc_71 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    padding: 80px 0 100px;
    transform: translate3d(0,100%,0)
}

    ._innerWrapper_11ivc_71::-webkit-scrollbar {
        display: none
    }

@media (max-width: 63.99em) {
    ._innerWrapper_11ivc_71 {
        overflow-y: auto
    }
}

@media (min-width: 64em) {
    ._innerWrapper_11ivc_71 {
        display: flex;
        flex-direction: row;
        padding: 80px 0 0;
        margin: 0 auto;
        border-right: 1px solid rgba(255,255,255,.1490196078);
        border-left: 1px solid rgba(255,255,255,.1490196078)
    }
}

@media (min-width: 80em) {
    ._innerWrapper_11ivc_71 {
        border: none
    }
}

._gridWrapper_11ivc_108 {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    pointer-events: none
}

@media (max-width: 79.99em) {
    ._gridWrapper_11ivc_108 {
        display: none
    }
}

._topWrapperGrid_11ivc_123 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%
}

._leftWrapperGrid_11ivc_130 {
    position: relative;
    width: 44.64%;
    height: 100%
}

._rightWrapperGrid_11ivc_136 {
    position: absolute;
    top: 0;
    left: 44.64%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
    width: 55.46%;
    height: 90%;
    overflow-y: auto
}

._caseGrid_11ivc_149 {
    position: relative;
    width: 100%;
    min-height: 16.6666666667%
}

    ._caseGrid_11ivc_149:nth-child(3), ._caseGrid_11ivc_149:last-child {
        opacity: 0
    }

._bottomWrapperGrid_11ivc_158 {
    position: absolute;
    top: 30%;
    left: 44.64%;
    width: 55.46%;
    height: 60%
}

@media (min-height: 1032px) {
    ._bottomWrapperGrid_11ivc_158 {
        left: 0;
        width: 100%
    }
}

._border_11ivc_172, ._borderBottom_11ivc_172, ._borderRight_11ivc_172, ._borderCenter_11ivc_172, ._borderLeft_11ivc_172 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ffffff26;
    transform-origin: top
}

._borderLeft_11ivc_172 {
    top: 0;
    left: 0
}

._borderCenter_11ivc_172 {
    top: 0;
    left: 50%;
    transform: translate(-50%)
}

._borderRight_11ivc_172 {
    top: 0;
    right: 0
}

._borderBottom_11ivc_172 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: left
}

._leftWrapper_11ivc_130 {
    position: relative;
    width: 100%
}

@media (min-width: 64em) {
    ._leftWrapper_11ivc_130 {
        display: flex;
        flex-direction: column;
        width: 44.64%;
        height: 100%;
        border-right: 1px solid rgba(255,255,255,.1490196078)
    }
}

@media (min-width: 80em) {
    ._leftWrapper_11ivc_130 {
        border: none
    }
}

._contentsWrapper_11ivc_223 {
    position: relative;
    width: 100%;
    padding: 24px;
    background-color: #131313
}

@media (min-width: 64em) {
    ._contentsWrapper_11ivc_223 {
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        justify-content: center;
        height: 30%;
        padding: 0 30px;
        border-bottom: 1px solid rgba(255,255,255,.1490196078)
    }
}

@media (min-width: 80em) {
    ._contentsWrapper_11ivc_223 {
        padding: 0 88px;
        border: none
    }
}

@media (max-width: 63.99em) {
    ._contentsWrapper_11ivc_223 > hr {
        display: none
    }
}

._contentsWrapper_11ivc_223 > h2 {
    overflow: hidden;
    font-size: 1.75rem;
    line-height: 1.1
}

@media (max-width: 63.99em) {
    ._contentsWrapper_11ivc_223 > h2 {
        max-width: 400px
    }
}

@media (min-width: 64em) {
    ._contentsWrapper_11ivc_223 > h2 {
        font-size: 3rem
    }
}

._preTitle_11ivc_267 {
    font-family: GeistMono,monospace;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: .625rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff59;
    text-transform: uppercase
}

@media (min-width: 64em) {
    ._preTitle_11ivc_267 {
        margin-bottom: 16px;
        font-size: .75rem
    }
}

._caseImageWrapper_11ivc_285 {
    position: relative;
    width: 100%;
    height: 70%;
    padding: 12px 42px;
    border-bottom: 1px solid rgba(255,255,255,.1490196078)
}

@media (max-width: 63.99em) {
    ._caseImageWrapper_11ivc_285 {
        display: none
    }
}

@media (min-width: 80em) {
    ._caseImageWrapper_11ivc_285 {
        border: none
    }
}

@media (min-width: 105em) {
    ._caseImageWrapper_11ivc_285 {
        padding: 42px
    }
}

@media (min-height: 1032px) {
    ._caseImageWrapper_11ivc_285 {
        height: 60%
    }
}

._caseImageWrapper_11ivc_285 ._caseImage_11ivc_285 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}



._rightWrapper_11ivc_136 {
    position: relative;
    width: 100%
}

@media (min-width: 64em) {
    ._rightWrapper_11ivc_136 {
        display: flex;
        flex-direction: column;
        width: 55.46%;
        height: 100%
    }
}

._backgroundWrapper_11ivc_343, ._backgroundWrapperBig_11ivc_343 {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #ffffff03;
    transform-origin: left
}

@media (max-width: 63.99em) {
    ._backgroundWrapper_11ivc_343, ._backgroundWrapperBig_11ivc_343 {
        display: none
    }
}

._backgroundWrapperBig_11ivc_343 {
    display: none
}

@media (min-height: 1032px) {
    ._backgroundWrapperBig_11ivc_343 {
        display: block
    }
}

._useCasesWrapper_11ivc_365 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
    width: 100%
}

@media (min-width: 64em) {
    ._useCasesWrapper_11ivc_365 {
        height: 90%
    }
}

._number_11ivc_379 {
    font-family: GeistMono,monospace;
    font-weight: 500;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 10px;
    font-size: .5625rem;
    line-height: 1.25;
    color: #ffffff80;
    transition: color .4s ease-out
}

@media (min-width: 64em) {
    ._number_11ivc_379 {
        margin: 0 auto;
        font-size: .75rem;
        text-align: center
    }
}

._useCase_11ivc_1 {
    display: block;
    max-width: 170px;
    font-size: 1rem;
    line-height: 1.2;
    color: #ffffffbf;
    transition: color .4s ease-out
}

@media (min-width: 64em) {
    ._useCase_11ivc_1 {
        max-width: unset;
        margin-top: 4px;
        font-size: 1.25rem;
        text-align: center
    }
}

._useCaseLink_11ivc_1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 116px;
    padding: 0 24px;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent
}

    ._useCaseLink_11ivc_1:before {
        background-color: #ffffff03
    }

@media (max-width: 63.99em) {
    ._useCaseLink_11ivc_1 {
        border-top: 1px solid rgba(255,255,255,.1490196078)
    }

        ._useCaseLink_11ivc_1:last-child {
            border-bottom: 1px solid rgba(255,255,255,.1490196078)
        }
}

@media (hover: hover) and (pointer: fine) {
    ._useCaseLink_11ivc_1:hover ._useCase_11ivc_1 {
        color: #fff
    }
}

@media (min-width: 64em) {
    ._useCaseLink_11ivc_1 {
        gap: 32px;
        justify-content: center;
        width: 50%;
        height: 16.6666666667%;
        min-height: auto;
        aspect-ratio: 465/130;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,.1490196078)
    }

        ._useCaseLink_11ivc_1:nth-child(odd) {
            border-right: 1px solid rgba(255,255,255,.1490196078)
        }
}

@media (min-width: 80em) {
    ._useCaseLink_11ivc_1 {
        border: none
    }

        ._useCaseLink_11ivc_1:nth-child(odd) {
            border: none
        }
}

._useCaseLink_11ivc_1._active_11ivc_469:before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #fff
}

._useCaseLink_11ivc_1._active_11ivc_469 ._number_11ivc_379, ._useCaseLink_11ivc_1._active_11ivc_469 ._useCase_11ivc_1 {
    color: #0e0e0e
}

._infos_11ivc_483 {
    position: relative;
    width: 50%
}

@media (min-width: 64em) {
    ._infos_11ivc_483 {
        width: 100%
    }
}

._caseImageWrapperMobile_11ivc_493 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 190px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width: 64em) {
    ._caseImageWrapperMobile_11ivc_493 {
        display: none
    }
}

._animatedBackground_qr60b_1, ._menuBtn_qr60b_1 {
    position: relative
}

    ._animatedBackground_qr60b_1:before, ._menuBtn_qr60b_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_qr60b_1:hover:before, ._menuBtn_qr60b_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._header_qr60b_23 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #000a33;
    border-bottom: 1px solid rgba(255,255,255,.1490196078);
    transition: transform .4s ease-in-out;
    opacity:0.9;
}

@media (min-width: 64em) {
    ._header_qr60b_23:not(._bannerClosed_qr60b_35) {
        transform: translate3d(0,var(--banner-height),0)
    }
}

._webGLEffect_qr60b_40 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s linear
}

._banner_qr60b_35 {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--banner-height);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    background: linear-gradient(0deg,#0e0e0ee6,#0e0e0ee6),linear-gradient(90deg,#0e0e0e33,#6d13ff,#0e0e0e33);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid #323232
}

@media (max-width: 24.365em) {
    ._banner_qr60b_35 {
        display: none
    }
}

._banner_qr60b_35 p {
    color: #ffffffbf
}

._banner_qr60b_35 a {
    position: relative
}

    ._banner_qr60b_35 a:after {
        position: absolute;
        bottom: -5px;
        display: block;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #ffffffbf;
        transition: transform .3s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._banner_qr60b_35 a:hover:after {
        transform: scaleX(1);
        transform-origin: left
    }
}

._itemsWrapper_qr60b_95 {
    display: flex;
    align-items: center;
    width: 100%
}

@media (min-width: 64em) {
    ._itemsWrapper_qr60b_95 {
        max-width: min(1680px,100%);
        margin: 0 auto;
        border-right: 1px solid rgba(255,255,255,.1490196078);
        border-left: 1px solid rgba(255,255,255,.1490196078)
    }
}

@media (min-width: 120em) {
    ._itemsWrapper_qr60b_95 {
        max-width: min(1680px,100% - 176px)
    }
}

._iconCross_qr60b_114 {
    position: absolute;
    color: #1a1a1a;
    opacity: 0;
    transition: opacity .3s linear
}

._burger_qr60b_121 {
    position: relative;
    transition: opacity .3s linear
}

._squareDot_qr60b_126 {
    width: 14px;
    height: 14px;
    transition: opacity .3s .2s linear
}

@media (min-width: 64em) {
    ._squareDot_qr60b_126 {
        width: 10px;
        height: 10px
    }
}

@media (min-width: 80em) {
    ._squareDot_qr60b_126 {
        width: 14px;
        height: 14px
    }
}

._mobileRightWrapper_qr60b_144 {
    display: flex;
    align-items: center
}

._active_qr60b_149 span {
    color: #fff
}

._headerBtnWrapper_qr60b_153, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._headerNav_qr60b_153, ._caseBtn_qr60b_153, ._logoWrapper_qr60b_153 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    min-height: 80px;
    overflow: hidden
}

@media (min-width: 64em) {
    ._headerBtnWrapper_qr60b_153, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._headerNav_qr60b_153, ._caseBtn_qr60b_153, ._logoWrapper_qr60b_153 {
        padding: 0 20px
    }
}

@media (min-width: 80em) {
    ._headerBtnWrapper_qr60b_153, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._headerNav_qr60b_153, ._caseBtn_qr60b_153, ._logoWrapper_qr60b_153 {
        padding: 0 36px
    }
}

._headerBtnText_qr60b_173 {
    position: relative;
    line-height: 100%;
    color: #ffffffbf;
    transition: color .3s linear
}

@media (min-width: 64em) {
    ._headerBtnText_qr60b_173 {
        font-size: .75rem;
        line-height: 1;
        letter-spacing: .02em
    }
}

._logoWrapper_qr60b_153 {
    border-right: 1px solid rgba(255,255,255,.1490196078);
    transition: background-color .5s linear
}

@media (max-width: 63.99em) {
    ._logoWrapper_qr60b_153 {
        justify-content: flex-start;
        width: 100%;
        padding-left: 24px;
        background-color: #0e0e0e
    }
}

@media (hover: hover) and (pointer: fine) {
    ._logoWrapper_qr60b_153:hover {
        background-color: #ffffff08
    }

        ._logoWrapper_qr60b_153:hover ._webGLEffect_qr60b_40 {
            opacity: 1
        }
}

._logo_qr60b_153 {
    display: block;
    width: 130px
}

@media (min-width: 64em) {
    ._logo_qr60b_153 {
        width: 120px
    }
}

@media (min-width: 105em) {
    ._logo_qr60b_153 {
        width: 136px
    }
}

._caseBtn_qr60b_153 {
    position: relative;
    border-right: 1px solid rgba(255,255,255,.1490196078);
    transition: background-color .5s linear
}

    ._caseBtn_qr60b_153:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (max-width: 63.99em) {
    ._caseBtn_qr60b_153 {
        width: 100%;
        aspect-ratio: 11/10
    }
}

._caseBtn_qr60b_153._disabled_qr60b_246 {
    pointer-events: none
}

._caseBtn_qr60b_153 ._headerBtnText_qr60b_173 {
    text-transform: uppercase
}

@media (max-width: 63.99em) {
    ._caseBtn_qr60b_153 ._headerBtnText_qr60b_173 {
        display: none
    }
}

@media (hover: hover) and (pointer: fine) {
    ._caseBtn_qr60b_153:hover {
        background-color: #ffffff05
    }

        ._caseBtn_qr60b_153:hover ._webGLEffect_qr60b_40 {
            opacity: 1
        }
}

._withSvg_qr60b_266, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._logoWrapper_qr60b_153, ._caseBtn_qr60b_153 {
    gap: 16px
}

@media (min-width: 64em) {
    ._withSvg_qr60b_266, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._logoWrapper_qr60b_153, ._caseBtn_qr60b_153 {
        gap: 10px
    }
}

@media (min-width: 80em) {
    ._withSvg_qr60b_266, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._logoWrapper_qr60b_153, ._caseBtn_qr60b_153 {
        gap: 13px
    }
}

@media (min-width: 105em) {
    ._withSvg_qr60b_266, ._contactBtn_qr60b_153, ._hubBtn_qr60b_153, ._logoWrapper_qr60b_153, ._caseBtn_qr60b_153 {
        gap: 16px
    }
}

._useCaseIconWrapper_qr60b_285 {
    position: relative;
    display: grid;
    place-items: center
}

    ._useCaseIconWrapper_qr60b_285 svg {
        grid-area: 1/1
    }

._headerNav_qr60b_153 {
    display: none;
    transition: opacity .3s linear
}

@media (min-width: 64em) {
    ._headerNav_qr60b_153 {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        padding: 0 12px
    }
}

@media (min-width: 80em) {
    ._headerNav_qr60b_153 {
        padding: 0 16px
    }
}

._headerNavOl_qr60b_312 {
    display: flex;
    align-items: center;
    width: 90%
}

@media (min-width: 64em) {
    ._headerNavOl_qr60b_312 li {
        display: flex;
        flex: 1 1 0;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        padding: 0 8px
    }
}

@media (min-width: 80em) {
    ._headerNavOl_qr60b_312 li {
        padding: 0 12px
    }
}

@media (min-width: 105em) {
    ._headerNavOl_qr60b_312 li {
        padding: 0 20px
    }
}



._hubBtn_qr60b_153 {
    display: none;
    text-transform: uppercase;
    transition: background-color .5s linear
}

@media (min-width: 64em) {
    ._hubBtn_qr60b_153 {
        display: flex
    }
}

@media (hover: hover) and (pointer: fine) {
    ._hubBtn_qr60b_153:hover {
        background-color: #ffffff05
    }

        ._hubBtn_qr60b_153:hover ._webGLEffect_qr60b_40 {
            opacity: 1
        }
}

._animatedBackground_qr60b_1 svg, ._menuBtn_qr60b_1 svg {
    transition: color .3s linear
}

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_qr60b_1:hover ._headerBtnText_qr60b_173, ._menuBtn_qr60b_1:hover ._headerBtnText_qr60b_173, ._animatedBackground_qr60b_1:hover button, ._menuBtn_qr60b_1:hover button {
        color: #0e0e0e
    }

    ._animatedBackground_qr60b_1:hover svg, ._menuBtn_qr60b_1:hover svg {
        color: #0e0e0e
    }
}

._arrow_qr60b_393 {
    opacity: .5
}

._contactBtn_qr60b_153 {
    display: none;
    border: 1px solid #fff
}

@media (min-width: 64em) {
    ._contactBtn_qr60b_153 {
        display: flex
    }
}

._withSuperscript_qr60b_407 {
    display: inline-flex;
    gap: 6px
}

@media (min-width: 64em) {
    ._withSuperscript_qr60b_407 {
        gap: 3px
    }
}

@media (min-width: 80em) {
    ._withSuperscript_qr60b_407 {
        gap: 6px
    }
}

._superscript_qr60b_422 {
    font-size: .5625rem;
    line-height: 0;
    text-align: left;
    pointer-events: none
}

._langBtnHeader_qr60b_429 {
    transition: opacity .3s linear
}

@media (max-width: 63.99em) {
    ._langBtnHeader_qr60b_429 {
        position: absolute;
        width: 88px;
        pointer-events: none;
        opacity: 0
    }
}

._langBtnHeader_qr60b_429 button {
    min-height: 80px;
    border-right: 1px solid rgba(255,255,255,.1490196078)
}

@media (min-width: 64em) {
    ._langBtnHeader_qr60b_429 button {
        border-left: 1px solid rgba(255,255,255,.1490196078)
    }
}

._popoverHeader_qr60b_450 {
    border: 1px solid rgba(255,255,255,.0509803922)
}

._menuBtn_qr60b_1 {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 80px;
    aspect-ratio: 11/10
}

@media (min-width: 64em) {
    ._menuBtn_qr60b_1 {
        display: none
    }
}

._menuBtn_qr60b_1 svg {
    grid-area: 1/1
}

@media (min-width: 64em) {
    ._menuCaseOpen_qr60b_471 ._itemsWrapper_qr60b_95 {
        border: 0
    }

    ._menuCaseOpen_qr60b_471 ._logoWrapper_qr60b_153, ._menuCaseOpen_qr60b_471 ._headerNav_qr60b_153, ._menuCaseOpen_qr60b_471 ._hubBtn_qr60b_153, ._menuCaseOpen_qr60b_471 ._contactBtn_qr60b_153, ._menuCaseOpen_qr60b_471 ._langBtnHeader_qr60b_429, ._menuCaseOpen_qr60b_471 ._menuBtn_qr60b_1 {
        pointer-events: none;
        opacity: 0
    }
}

._menuCaseOpen_qr60b_471 ._caseBtn_qr60b_153:before {
    transform: scaleX(1);
    transform-origin: left
}

._menuCaseOpen_qr60b_471 ._caseBtn_qr60b_153 ._headerBtnText_qr60b_173 {
    color: #0e0e0e
}

._menuCaseOpen_qr60b_471 ._useCaseIconWrapper_qr60b_285 ._iconCross_qr60b_114 {
    opacity: 1;
    transition: opacity .3s .2s linear
}

._menuCaseOpen_qr60b_471 ._useCaseIconWrapper_qr60b_285 ._squareDot_qr60b_126 {
    opacity: 0;
    transition: opacity .3s linear
}

._menuMbOpen_qr60b_502 ._caseBtn_qr60b_153 {
    pointer-events: none;
    opacity: 0
}

._menuMbOpen_qr60b_502 ._langBtnHeader_qr60b_429 {
    pointer-events: all;
    opacity: 1;
    transition: opacity .3s .2s linear
}

._menuMbOpen_qr60b_502 ._menuBtn_qr60b_1:before {
    transform: scaleX(1);
    transform-origin: left
}

._menuMbOpen_qr60b_502 ._menuBtn_qr60b_1 ._iconCross_qr60b_114 {
    opacity: 1
}

._menuMbOpen_qr60b_502 ._menuBtn_qr60b_1 ._burger_qr60b_121 {
    opacity: 0
}

._animatedBackground_p0de2_1 {
    position: relative
}

    ._animatedBackground_p0de2_1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    ._animatedBackground_p0de2_1:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

._Wrapper_p0de2_23 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100lvh;
    pointer-events: auto;
    touch-action: none;
    background: #0e0e0e
}

    ._Wrapper_p0de2_23 canvas {
        width: 100%;
        height: 100%
    }

.animatedBackground {
    position: relative
}

    .animatedBackground:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #fff;
        transition: transform .4s cubic-bezier(.4,0,.1,1);
        transform: scaleX(0);
        transform-origin: right
    }

@media (hover: hover) and (pointer: fine) {
    .animatedBackground:hover:before {
        transform: scaleX(1);
        transform-origin: left
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    -moz-column-gap: 12px;
    column-gap: 12px
}

@media (min-width: 64em) {
    .grid {
        grid-template-columns: repeat(12,minmax(0,1fr));
        -moz-column-gap: 20px;
        column-gap: 20px
    }
}






blockquote {
    quotes: none
}

input {
    background: none;
    border: none;
    outline: none
}

ul, ol {
    list-style-type: none
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer
}

address {
    font-style: normal
}

a:hover, a:active, input, textarea, select, button {
    outline: 0
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

th {
    font-weight: 400
}

hr {
    width: 100%;
    overflow: visible;
    border: 0
}


.fs-h1 {
    font-size: 4.5rem;
    line-height: 1.1
}

.fs-h2 {
    font-size: 2.5rem;
    line-height: 1.1
}

@media (min-width: 64em) {
    .fs-h2 {
        font-size: 4rem
    }
}

.fs-h3 {
    font-size: 3rem;
    font-weight: 500
}

.fs-h4 {
    font-size: 2rem
}

.fs-h5 {
    font-size: 1.5rem;
    font-weight: 500
}

.fs-h6 {
    font-size: 1.25rem;
    font-weight: 500
}

.fs-h7 {
    font-size: .875rem
}

.fs-h8 {
    font-size: .75rem;
    font-weight: 500
}



.text-quote {
    font-size: 2rem
}




img {
    display: block
}

@media (min-width: 64em) {
    .opacity-0-dk {
        opacity: 0
    }
}

@media (max-width: 47.99em) {
    .hide-mobile {
        display: none !important
    }
}

@media (min-width: 48em) {
    .hide-tablet {
        display: none !important
    }
}

@media (min-width: 48em) and (max-width: 63.99em) {
    .hide-tablet-only {
        display: none !important
    }
}

@media (max-width: 63.99em) {
    .hide-mobile-tablet {
        display: none !important
    }
}

@media (min-width: 64em) {
    .hide-desktop {
        display: none !important
    }
}

@media (min-width: 64em) and (max-width: 79.99em) {
    .hide-desktop-only {
        display: none !important
    }
}

@media (min-width: 80em) {
    .hide-mlarge {
        display: none !important
    }
}

@media (min-width: 105em) and (max-width: 119.99em) {
    .hide-large-only {
        display: none !important
    }
}

@media (min-width: 105em) {
    .hide-large {
        display: none !important
    }
}



.lenis.lenis-smooth {
    scroll-behavior: auto !important
}

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain
    }

    .lenis.lenis-smooth iframe {
        pointer-events: none
    }

.fade-enter, .fade-appear {
    opacity: 0
}

.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: opacity 1.6s cubic-bezier(.4,0,.1,1)
}

.fade-exit {
    opacity: 1
}

.fade-exit-active {
    opacity: 0;
    transition: opacity .6s linear
}

#transition-element {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    pointer-events: none
}

    #transition-element canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

.rect-anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
    transform-origin: right
}

[data-animation=fade] {
    opacity: 0
}

.hr {
    --line-opacity: .3;
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center
}

@media (min-width: 64em) {
    .hr {
        gap: 24px
    }
}

.hr.light {
    --line-opacity: .15
}

.hr:before {
    display: block;
    flex: 1;
    width: 100%;
    height: 1px;
    content: "";
    background: rgba(255,255,255,var(--line-opacity))
}

.hr.hr-dot-r:after, .hr.hr-dot-l:after {
    display: block;
    width: 4px;
    height: 4px;
    content: "";
    background: currentColor
}

.hr.hr-dot-l:after {
    order: -1
}
